<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="Batchcode">
	{$Batchcode_editcontrol}
	</control>
	<control field="fbgroup">
	{$fbgroup_editcontrol}
	</control>
	<control field="division_id">
	{$division_id_editcontrol}
	</control>
	<control field="university_id">
	{$university_id_editcontrol}
	</control>
	<control field="department_id">
	{$department_id_editcontrol}
	</control>
	<control field="starting_Date">
	{$starting_Date_editcontrol}
	</control>
	<control field="Track">
	{$Track_editcontrol}
	</control>
	<control field="cid">
	{$cid_editcontrol}
	</control>
	<control field="status">
	{$status_editcontrol}
	</control>
	<control field="uni_spoc_name">
	{$uni_spoc_name_editcontrol}
	</control>
	<control field="uni_spoc_contact">
	{$uni_spoc_contact_editcontrol}
	</control>
	<control field="ey_spoc">
	{$ey_spoc_editcontrol}
	</control>
	<control field="local_spoc">
	{$local_spoc_editcontrol}
	</control>
	<control field="schedule">
	{$schedule_editcontrol}
	</control>
	<control field="tech_trainer">
	{$tech_trainer_editcontrol}
	</control>
	<control field="soft_skill_trainer">
	{$soft_skill_trainer_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>