<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_main} rnr-wrapper rnr-cbw-main">

{BEGIN container_main}
<div class="rnr-c rnr-cv rnr-c-main">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel batchschedule view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-viewfields {$brickclass_viewfields}"><table class="fieldGrid">
	{BEGIN sid_fieldblock}
<tr class="{$fielddispclass_sid}" data-fieldname="sid">
	<td class="rnr-label">
		{$label batchschedule sid}
	</td>
	<td class="rnr-control style3">
		{$sid_value}&nbsp;
	</td>
</tr>
{END sid_fieldblock}
	{BEGIN Batchcode_fieldblock}
<tr class="{$fielddispclass_Batchcode}" data-fieldname="Batchcode">
	<td class="rnr-label">
		{$label batchschedule Batchcode}
	</td>
	<td class="rnr-control style3">
		{$Batchcode_value}&nbsp;
	</td>
</tr>
{END Batchcode_fieldblock}
	{BEGIN sdate_fieldblock}
<tr class="{$fielddispclass_sdate}" data-fieldname="sdate">
	<td class="rnr-label">
		{$label batchschedule sdate}
	</td>
	<td class="rnr-control style3">
		{$sdate_value}&nbsp;
	</td>
</tr>
{END sdate_fieldblock}
	{BEGIN stime_fieldblock}
<tr class="{$fielddispclass_stime}" data-fieldname="stime">
	<td class="rnr-label">
		{$label batchschedule stime}
	</td>
	<td class="rnr-control style3">
		{$stime_value}&nbsp;
	</td>
</tr>
{END stime_fieldblock}
	{BEGIN etime_fieldblock}
<tr class="{$fielddispclass_etime}" data-fieldname="etime">
	<td class="rnr-label">
		{$label batchschedule etime}
	</td>
	<td class="rnr-control style3">
		{$etime_value}&nbsp;
	</td>
</tr>
{END etime_fieldblock}
	{BEGIN status_fieldblock}
<tr class="{$fielddispclass_status}" data-fieldname="status">
	<td class="rnr-label">
		{$label batchschedule status}
	</td>
	<td class="rnr-control style3">
		{$status_value}&nbsp;
	</td>
</tr>
{END status_fieldblock}
	{BEGIN remark_fieldblock}
<tr class="{$fielddispclass_remark}" data-fieldname="remark">
	<td class="rnr-label">
		{$label batchschedule remark}
	</td>
	<td class="rnr-control style3">
		{$remark_value}&nbsp;
	</td>
</tr>
{END remark_fieldblock}
	{BEGIN realstime_fieldblock}
<tr class="{$fielddispclass_realstime}" data-fieldname="realstime">
	<td class="rnr-label">
		{$label batchschedule realstime}
	</td>
	<td class="rnr-control style3">
		{$realstime_value}&nbsp;
	</td>
</tr>
{END realstime_fieldblock}
	{BEGIN realetime_fieldblock}
<tr class="{$fielddispclass_realetime}" data-fieldname="realetime">
	<td class="rnr-label">
		{$label batchschedule realetime}
	</td>
	<td class="rnr-control style3">
		{$realetime_value}&nbsp;
	</td>
</tr>
{END realetime_fieldblock}
	{BEGIN attendance_fieldblock}
<tr class="{$fielddispclass_attendance}" data-fieldname="attendance">
	<td class="rnr-label">
		{$label batchschedule attendance}
	</td>
	<td class="rnr-control style3">
		{$attendance_value}&nbsp;
	</td>
</tr>
{END attendance_fieldblock}
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
{BEGIN edit_page_button}
<a href="#" class="rnr-button" {$edit_page_button_attrs}>Edit</a>
{END edit_page_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_view}

</div>


</div>
{END container_main}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
