<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}
<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel batch add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields {$brickclass_addfields}"><table class="fieldGrid">
	{BEGIN Batchcode_fieldblock}
<tr class="{$fielddispclass_Batchcode}" data-fieldname="Batchcode">
	<td class="rnr-label">
		{BEGIN Batchcode_label}{$label batch Batchcode}{END Batchcode_label}
	</td>
	<td class="rnr-control style3">
		{$Batchcode_editcontrol}&nbsp;
	</td>
</tr>
{END Batchcode_fieldblock}
	{BEGIN fbgroup_fieldblock}
<tr class="{$fielddispclass_fbgroup}" data-fieldname="fbgroup">
	<td class="rnr-label">
		{BEGIN fbgroup_label}{$label batch fbgroup}{END fbgroup_label}
	</td>
	<td class="rnr-control style3">
		{$fbgroup_editcontrol}&nbsp;
	</td>
</tr>
{END fbgroup_fieldblock}
	{BEGIN division_id_fieldblock}
<tr class="{$fielddispclass_division_id}" data-fieldname="division_id">
	<td class="rnr-label">
		{BEGIN division_id_label}{$label batch division_id}{END division_id_label}
	</td>
	<td class="rnr-control style3">
		{$division_id_editcontrol}&nbsp;
	</td>
</tr>
{END division_id_fieldblock}
	{BEGIN university_id_fieldblock}
<tr class="{$fielddispclass_university_id}" data-fieldname="university_id">
	<td class="rnr-label">
		{BEGIN university_id_label}{$label batch university_id}{END university_id_label}
	</td>
	<td class="rnr-control style3">
		{$university_id_editcontrol}&nbsp;
	</td>
</tr>
{END university_id_fieldblock}
	{BEGIN department_id_fieldblock}
<tr class="{$fielddispclass_department_id}" data-fieldname="department_id">
	<td class="rnr-label">
		{BEGIN department_id_label}{$label batch department_id}{END department_id_label}
	</td>
	<td class="rnr-control style3">
		{$department_id_editcontrol}&nbsp;
	</td>
</tr>
{END department_id_fieldblock}
	{BEGIN starting_Date_fieldblock}
<tr class="{$fielddispclass_starting_Date}" data-fieldname="starting_Date">
	<td class="rnr-label">
		{BEGIN starting_Date_label}{$label batch starting_Date}{END starting_Date_label}
	</td>
	<td class="rnr-control style3">
		{$starting_Date_editcontrol}&nbsp;
	</td>
</tr>
{END starting_Date_fieldblock}
	{BEGIN Track_fieldblock}
<tr class="{$fielddispclass_Track}" data-fieldname="Track">
	<td class="rnr-label">
		{BEGIN Track_label}{$label batch Track}{END Track_label}
	</td>
	<td class="rnr-control style3">
		{$Track_editcontrol}&nbsp;
	</td>
</tr>
{END Track_fieldblock}
	{BEGIN cid_fieldblock}
<tr class="{$fielddispclass_cid}" data-fieldname="cid">
	<td class="rnr-label">
		{BEGIN cid_label}{$label batch cid}{END cid_label}
	</td>
	<td class="rnr-control style3">
		{$cid_editcontrol}&nbsp;
	</td>
</tr>
{END cid_fieldblock}
	{BEGIN status_fieldblock}
<tr class="{$fielddispclass_status}" data-fieldname="status">
	<td class="rnr-label">
		{BEGIN status_label}{$label batch status}{END status_label}
	</td>
	<td class="rnr-control style3">
		{$status_editcontrol}&nbsp;
	</td>
</tr>
{END status_fieldblock}
	{BEGIN uni_spoc_name_fieldblock}
<tr class="{$fielddispclass_uni_spoc_name}" data-fieldname="uni_spoc_name">
	<td class="rnr-label">
		{BEGIN uni_spoc_name_label}{$label batch uni_spoc_name}{END uni_spoc_name_label}
	</td>
	<td class="rnr-control style3">
		{$uni_spoc_name_editcontrol}&nbsp;
	</td>
</tr>
{END uni_spoc_name_fieldblock}
	{BEGIN uni_spoc_contact_fieldblock}
<tr class="{$fielddispclass_uni_spoc_contact}" data-fieldname="uni_spoc_contact">
	<td class="rnr-label">
		{BEGIN uni_spoc_contact_label}{$label batch uni_spoc_contact}{END uni_spoc_contact_label}
	</td>
	<td class="rnr-control style3">
		{$uni_spoc_contact_editcontrol}&nbsp;
	</td>
</tr>
{END uni_spoc_contact_fieldblock}
	{BEGIN ey_spoc_fieldblock}
<tr class="{$fielddispclass_ey_spoc}" data-fieldname="ey_spoc">
	<td class="rnr-label">
		{BEGIN ey_spoc_label}{$label batch ey_spoc}{END ey_spoc_label}
	</td>
	<td class="rnr-control style3">
		{$ey_spoc_editcontrol}&nbsp;
	</td>
</tr>
{END ey_spoc_fieldblock}
	{BEGIN local_spoc_fieldblock}
<tr class="{$fielddispclass_local_spoc}" data-fieldname="local_spoc">
	<td class="rnr-label">
		{BEGIN local_spoc_label}{$label batch local_spoc}{END local_spoc_label}
	</td>
	<td class="rnr-control style3">
		{$local_spoc_editcontrol}&nbsp;
	</td>
</tr>
{END local_spoc_fieldblock}
	{BEGIN schedule_fieldblock}
<tr class="{$fielddispclass_schedule}" data-fieldname="schedule">
	<td class="rnr-label">
		{BEGIN schedule_label}{$label batch schedule}{END schedule_label}
	</td>
	<td class="rnr-control style3">
		{$schedule_editcontrol}&nbsp;
	</td>
</tr>
{END schedule_fieldblock}
	{BEGIN tech_trainer_fieldblock}
<tr class="{$fielddispclass_tech_trainer}" data-fieldname="tech_trainer">
	<td class="rnr-label">
		{BEGIN tech_trainer_label}{$label batch tech_trainer}{END tech_trainer_label}
	</td>
	<td class="rnr-control style3">
		{$tech_trainer_editcontrol}&nbsp;
	</td>
</tr>
{END tech_trainer_fieldblock}
	{BEGIN soft_skill_trainer_fieldblock}
<tr class="{$fielddispclass_soft_skill_trainer}" data-fieldname="soft_skill_trainer">
	<td class="rnr-label">
		{BEGIN soft_skill_trainer_label}{$label batch soft_skill_trainer}{END soft_skill_trainer_label}
	</td>
	<td class="rnr-control style3">
		{$soft_skill_trainer_editcontrol}&nbsp;
	</td>
</tr>
{END soft_skill_trainer_fieldblock}
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}">{BEGIN save_button}
<a href="#" class="rnr-button main" id="saveButton{$id}">Save</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" id="resetButton{$id}">Reset</a>
{END reset_button}
{BEGIN cancel_button}
<a href="#" class="rnr-button" id="cancelButton{$id}">Cancel</a>
{END cancel_button}
{BEGIN back_button}
<a href="#" class="rnr-button" id="backButton{$id}">Back to list</a>
{END back_button}
{BEGIN backToMenu_button}
<a href="#" class="rnr-button" id="backToMenuButton{$id}">Back to menu</a>
{END backToMenu_button}</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
