<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_search}
<div class="rnr-c rnr-cv rnr-c-search">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel batch search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_batch_id}">
	{BEGIN batch_id_fieldblock}		
	<td>
		{$label batch batch_id}
	</td>
	<td>
		<input type="checkbox" {$batch_id_notbox}>
	</td>
	<td>
		{$searchtype_batch_id}
	</td>
	<td>
		{$batch_id_editcontrol}&nbsp;
	</td>
	<td>
		{$batch_id_editcontrol1}&nbsp;
	</td>
{END batch_id_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Batchcode}">
	{BEGIN Batchcode_fieldblock}		
	<td>
		{$label batch Batchcode}
	</td>
	<td>
		<input type="checkbox" {$Batchcode_notbox}>
	</td>
	<td>
		{$searchtype_Batchcode}
	</td>
	<td>
		{$Batchcode_editcontrol}&nbsp;
	</td>
	<td>
		{$Batchcode_editcontrol1}&nbsp;
	</td>
{END Batchcode_fieldblock}
	</tr>
	<tr class="{$fielddispclass_fbgroup}">
	{BEGIN fbgroup_fieldblock}		
	<td>
		{$label batch fbgroup}
	</td>
	<td>
		<input type="checkbox" {$fbgroup_notbox}>
	</td>
	<td>
		{$searchtype_fbgroup}
	</td>
	<td>
		{$fbgroup_editcontrol}&nbsp;
	</td>
	<td>
		{$fbgroup_editcontrol1}&nbsp;
	</td>
{END fbgroup_fieldblock}
	</tr>
	<tr class="{$fielddispclass_division_id}">
	{BEGIN division_id_fieldblock}		
	<td>
		{$label batch division_id}
	</td>
	<td>
		<input type="checkbox" {$division_id_notbox}>
	</td>
	<td>
		{$searchtype_division_id}
	</td>
	<td>
		{$division_id_editcontrol}&nbsp;
	</td>
	<td>
		{$division_id_editcontrol1}&nbsp;
	</td>
{END division_id_fieldblock}
	</tr>
	<tr class="{$fielddispclass_university_id}">
	{BEGIN university_id_fieldblock}		
	<td>
		{$label batch university_id}
	</td>
	<td>
		<input type="checkbox" {$university_id_notbox}>
	</td>
	<td>
		{$searchtype_university_id}
	</td>
	<td>
		{$university_id_editcontrol}&nbsp;
	</td>
	<td>
		{$university_id_editcontrol1}&nbsp;
	</td>
{END university_id_fieldblock}
	</tr>
	<tr class="{$fielddispclass_department_id}">
	{BEGIN department_id_fieldblock}		
	<td>
		{$label batch department_id}
	</td>
	<td>
		<input type="checkbox" {$department_id_notbox}>
	</td>
	<td>
		{$searchtype_department_id}
	</td>
	<td>
		{$department_id_editcontrol}&nbsp;
	</td>
	<td>
		{$department_id_editcontrol1}&nbsp;
	</td>
{END department_id_fieldblock}
	</tr>
	<tr class="{$fielddispclass_starting_Date}">
	{BEGIN starting_Date_fieldblock}		
	<td>
		{$label batch starting_Date}
	</td>
	<td>
		<input type="checkbox" {$starting_Date_notbox}>
	</td>
	<td>
		{$searchtype_starting_Date}
	</td>
	<td>
		{$starting_Date_editcontrol}&nbsp;
	</td>
	<td>
		{$starting_Date_editcontrol1}&nbsp;
	</td>
{END starting_Date_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Track}">
	{BEGIN Track_fieldblock}		
	<td>
		{$label batch Track}
	</td>
	<td>
		<input type="checkbox" {$Track_notbox}>
	</td>
	<td>
		{$searchtype_Track}
	</td>
	<td>
		{$Track_editcontrol}&nbsp;
	</td>
	<td>
		{$Track_editcontrol1}&nbsp;
	</td>
{END Track_fieldblock}
	</tr>
	<tr class="{$fielddispclass_cid}">
	{BEGIN cid_fieldblock}		
	<td>
		{$label batch cid}
	</td>
	<td>
		<input type="checkbox" {$cid_notbox}>
	</td>
	<td>
		{$searchtype_cid}
	</td>
	<td>
		{$cid_editcontrol}&nbsp;
	</td>
	<td>
		{$cid_editcontrol1}&nbsp;
	</td>
{END cid_fieldblock}
	</tr>
	<tr class="{$fielddispclass_status}">
	{BEGIN status_fieldblock}		
	<td>
		{$label batch status}
	</td>
	<td>
		<input type="checkbox" {$status_notbox}>
	</td>
	<td>
		{$searchtype_status}
	</td>
	<td>
		{$status_editcontrol}&nbsp;
	</td>
	<td>
		{$status_editcontrol1}&nbsp;
	</td>
{END status_fieldblock}
	</tr>
	<tr class="{$fielddispclass_uni_spoc_name}">
	{BEGIN uni_spoc_name_fieldblock}		
	<td>
		{$label batch uni_spoc_name}
	</td>
	<td>
		<input type="checkbox" {$uni_spoc_name_notbox}>
	</td>
	<td>
		{$searchtype_uni_spoc_name}
	</td>
	<td>
		{$uni_spoc_name_editcontrol}&nbsp;
	</td>
	<td>
		{$uni_spoc_name_editcontrol1}&nbsp;
	</td>
{END uni_spoc_name_fieldblock}
	</tr>
	<tr class="{$fielddispclass_uni_spoc_contact}">
	{BEGIN uni_spoc_contact_fieldblock}		
	<td>
		{$label batch uni_spoc_contact}
	</td>
	<td>
		<input type="checkbox" {$uni_spoc_contact_notbox}>
	</td>
	<td>
		{$searchtype_uni_spoc_contact}
	</td>
	<td>
		{$uni_spoc_contact_editcontrol}&nbsp;
	</td>
	<td>
		{$uni_spoc_contact_editcontrol1}&nbsp;
	</td>
{END uni_spoc_contact_fieldblock}
	</tr>
	<tr class="{$fielddispclass_ey_spoc}">
	{BEGIN ey_spoc_fieldblock}		
	<td>
		{$label batch ey_spoc}
	</td>
	<td>
		<input type="checkbox" {$ey_spoc_notbox}>
	</td>
	<td>
		{$searchtype_ey_spoc}
	</td>
	<td>
		{$ey_spoc_editcontrol}&nbsp;
	</td>
	<td>
		{$ey_spoc_editcontrol1}&nbsp;
	</td>
{END ey_spoc_fieldblock}
	</tr>
	<tr class="{$fielddispclass_local_spoc}">
	{BEGIN local_spoc_fieldblock}		
	<td>
		{$label batch local_spoc}
	</td>
	<td>
		<input type="checkbox" {$local_spoc_notbox}>
	</td>
	<td>
		{$searchtype_local_spoc}
	</td>
	<td>
		{$local_spoc_editcontrol}&nbsp;
	</td>
	<td>
		{$local_spoc_editcontrol1}&nbsp;
	</td>
{END local_spoc_fieldblock}
	</tr>
	<tr class="{$fielddispclass_schedule}">
	{BEGIN schedule_fieldblock}		
	<td>
		{$label batch schedule}
	</td>
	<td>
		<input type="checkbox" {$schedule_notbox}>
	</td>
	<td>
		{$searchtype_schedule}
	</td>
	<td>
		{$schedule_editcontrol}&nbsp;
	</td>
	<td>
		{$schedule_editcontrol1}&nbsp;
	</td>
{END schedule_fieldblock}
	</tr>
	<tr class="{$fielddispclass_tech_trainer}">
	{BEGIN tech_trainer_fieldblock}		
	<td>
		{$label batch tech_trainer}
	</td>
	<td>
		<input type="checkbox" {$tech_trainer_notbox}>
	</td>
	<td>
		{$searchtype_tech_trainer}
	</td>
	<td>
		{$tech_trainer_editcontrol}&nbsp;
	</td>
	<td>
		{$tech_trainer_editcontrol1}&nbsp;
	</td>
{END tech_trainer_fieldblock}
	</tr>
	<tr class="{$fielddispclass_soft_skill_trainer}">
	{BEGIN soft_skill_trainer_fieldblock}		
	<td>
		{$label batch soft_skill_trainer}
	</td>
	<td>
		<input type="checkbox" {$soft_skill_trainer_notbox}>
	</td>
	<td>
		{$searchtype_soft_skill_trainer}
	</td>
	<td>
		{$soft_skill_trainer_editcontrol}&nbsp;
	</td>
	<td>
		{$soft_skill_trainer_editcontrol1}&nbsp;
	</td>
{END soft_skill_trainer_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_search}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
