<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel batchschedule add}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN Batchcode_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Batchcode}" data-fieldname="Batchcode" data-signal-error-for="Batchcode{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Batchcode}">
		{BEGIN Batchcode_label}{$label batchschedule Batchcode}{END Batchcode_label}
	</label>
	<div class="col-md-6" >
		{$Batchcode_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Batchcode">
		<div class="text-muted" >
		{$tooltip batchschedule Batchcode}
		</div>
	</div>
</div>
</div>
{END Batchcode_fieldblock}

			{BEGIN sdate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_sdate}" data-fieldname="sdate" data-signal-error-for="sdate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_sdate}">
		{BEGIN sdate_label}{$label batchschedule sdate}{END sdate_label}
	</label>
	<div class="col-md-6" >
		{$sdate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="sdate">
		<div class="text-muted" >
		{$tooltip batchschedule sdate}
		</div>
	</div>
</div>
</div>
{END sdate_fieldblock}

			{BEGIN stime_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_stime}" data-fieldname="stime" data-signal-error-for="stime{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_stime}">
		{BEGIN stime_label}{$label batchschedule stime}{END stime_label}
	</label>
	<div class="col-md-6" >
		{$stime_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="stime">
		<div class="text-muted" >
		{$tooltip batchschedule stime}
		</div>
	</div>
</div>
</div>
{END stime_fieldblock}

			{BEGIN etime_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_etime}" data-fieldname="etime" data-signal-error-for="etime{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_etime}">
		{BEGIN etime_label}{$label batchschedule etime}{END etime_label}
	</label>
	<div class="col-md-6" >
		{$etime_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="etime">
		<div class="text-muted" >
		{$tooltip batchschedule etime}
		</div>
	</div>
</div>
</div>
{END etime_fieldblock}

			{BEGIN status_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_status}" data-fieldname="status" data-signal-error-for="status{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_status}">
		{BEGIN status_label}{$label batchschedule status}{END status_label}
	</label>
	<div class="col-md-6" >
		{$status_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="status">
		<div class="text-muted" >
		{$tooltip batchschedule status}
		</div>
	</div>
</div>
</div>
{END status_fieldblock}

			{BEGIN remark_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_remark}" data-fieldname="remark" data-signal-error-for="remark{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_remark}">
		{BEGIN remark_label}{$label batchschedule remark}{END remark_label}
	</label>
	<div class="col-md-6" >
		{$remark_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="remark">
		<div class="text-muted" >
		{$tooltip batchschedule remark}
		</div>
	</div>
</div>
</div>
{END remark_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>Save</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">Reset</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">Back to list</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">Cancel</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
