<div {$pageattrs}>

{BEGIN container_dcount}
<div {$dcount_chiddenattr} data-pageid="{$pageid}" data-container="dcount" class="    "> 


<span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Details found: <strong>{$row_count}</strong></span>





</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$sid_class}">{$label batchschedule sid}</th>
			<th class="{$Batchcode_class}">{$label batchschedule Batchcode}</th>
			<th class="{$sdate_class}">{$label batchschedule sdate}</th>
			<th class="{$stime_class}">{$label batchschedule stime}</th>
			<th class="{$etime_class}">{$label batchschedule etime}</th>
			<th class="{$realstime_class}">{$label batchschedule realstime}</th>
			<th class="{$realetime_class}">{$label batchschedule realetime}</th>
			<th class="{$status_class}">{$label batchschedule status}</th>
			<th class="{$remark_class}">{$label batchschedule remark}</th>
			<th class="{$attendance_class}">{$label batchschedule attendance}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$sid_class}">{$sid_value}</td>
			<td class="{$Batchcode_class}">{$Batchcode_value}</td>
			<td class="{$sdate_class}">{$sdate_value}</td>
			<td class="{$stime_class}">{$stime_value}</td>
			<td class="{$etime_class}">{$etime_value}</td>
			<td class="{$realstime_class}">{$realstime_value}</td>
			<td class="{$realetime_class}">{$realetime_value}</td>
			<td class="{$status_class}">{$status_value}</td>
			<td class="{$remark_class}">{$remark_value}</td>
			<td class="{$attendance_class}">{$attendance_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>