<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}




		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">


<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel batchschedule print}</h1>
</div>


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN sid_fieldheadercolumn}
<th class="runner-cc {$sid_class}" {$sid_style}>
	{BEGIN sid_fieldheader}
	<b>{$label batchschedule sid}</b>
	{END sid_fieldheader}
</th>
{END sid_fieldheadercolumn}
	{BEGIN Batchcode_fieldheadercolumn}
<th class="runner-cc {$Batchcode_class}" {$Batchcode_style}>
	{BEGIN Batchcode_fieldheader}
	<b>{$label batchschedule Batchcode}</b>
	{END Batchcode_fieldheader}
</th>
{END Batchcode_fieldheadercolumn}
	{BEGIN sdate_fieldheadercolumn}
<th class="runner-cc {$sdate_class}" {$sdate_style}>
	{BEGIN sdate_fieldheader}
	<b>{$label batchschedule sdate}</b>
	{END sdate_fieldheader}
</th>
{END sdate_fieldheadercolumn}
	{BEGIN stime_fieldheadercolumn}
<th class="runner-cc {$stime_class}" {$stime_style}>
	{BEGIN stime_fieldheader}
	<b>{$label batchschedule stime}</b>
	{END stime_fieldheader}
</th>
{END stime_fieldheadercolumn}
	{BEGIN etime_fieldheadercolumn}
<th class="runner-cc {$etime_class}" {$etime_style}>
	{BEGIN etime_fieldheader}
	<b>{$label batchschedule etime}</b>
	{END etime_fieldheader}
</th>
{END etime_fieldheadercolumn}
	{BEGIN status_fieldheadercolumn}
<th class="runner-cc {$status_class}" {$status_style}>
	{BEGIN status_fieldheader}
	<b>{$label batchschedule status}</b>
	{END status_fieldheader}
</th>
{END status_fieldheadercolumn}
	{BEGIN remark_fieldheadercolumn}
<th class="runner-cc {$remark_class}" {$remark_style}>
	{BEGIN remark_fieldheader}
	<b>{$label batchschedule remark}</b>
	{END remark_fieldheader}
</th>
{END remark_fieldheadercolumn}
	{BEGIN realstime_fieldheadercolumn}
<th class="runner-cc {$realstime_class}" {$realstime_style}>
	{BEGIN realstime_fieldheader}
	<b>{$label batchschedule realstime}</b>
	{END realstime_fieldheader}
</th>
{END realstime_fieldheadercolumn}
	{BEGIN realetime_fieldheadercolumn}
<th class="runner-cc {$realetime_class}" {$realetime_style}>
	{BEGIN realetime_fieldheader}
	<b>{$label batchschedule realetime}</b>
	{END realetime_fieldheader}
</th>
{END realetime_fieldheadercolumn}
	{BEGIN attendance_fieldheadercolumn}
<th class="runner-cc {$attendance_class}" {$attendance_style}>
	{BEGIN attendance_fieldheader}
	<b>{$label batchschedule attendance}</b>
	{END attendance_fieldheader}
</th>
{END attendance_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN sid_fieldcolumn}
<td  class="runner-cc {$sid_class}" {$sid_style} {$recordattrs}>
	{$sid_value}
</td>
{END sid_fieldcolumn}
	{BEGIN Batchcode_fieldcolumn}
<td  class="runner-cc {$Batchcode_class}" {$Batchcode_style} {$recordattrs}>
	{$Batchcode_value}
</td>
{END Batchcode_fieldcolumn}
	{BEGIN sdate_fieldcolumn}
<td  class="runner-cc {$sdate_class}" {$sdate_style} {$recordattrs}>
	{$sdate_value}
</td>
{END sdate_fieldcolumn}
	{BEGIN stime_fieldcolumn}
<td  class="runner-cc {$stime_class}" {$stime_style} {$recordattrs}>
	{$stime_value}
</td>
{END stime_fieldcolumn}
	{BEGIN etime_fieldcolumn}
<td  class="runner-cc {$etime_class}" {$etime_style} {$recordattrs}>
	{$etime_value}
</td>
{END etime_fieldcolumn}
	{BEGIN status_fieldcolumn}
<td  class="runner-cc {$status_class}" {$status_style} {$recordattrs}>
	{$status_value}
</td>
{END status_fieldcolumn}
	{BEGIN remark_fieldcolumn}
<td  class="runner-cc {$remark_class}" {$remark_style} {$recordattrs}>
	{$remark_value}
</td>
{END remark_fieldcolumn}
	{BEGIN realstime_fieldcolumn}
<td  class="runner-cc {$realstime_class}" {$realstime_style} {$recordattrs}>
	{$realstime_value}
</td>
{END realstime_fieldcolumn}
	{BEGIN realetime_fieldcolumn}
<td  class="runner-cc {$realetime_class}" {$realetime_style} {$recordattrs}>
	{$realetime_value}
</td>
{END realetime_fieldcolumn}
	{BEGIN attendance_fieldcolumn}
<td  class="runner-cc {$attendance_class}" {$attendance_style} {$recordattrs}>
	{$attendance_value}
</td>
{END attendance_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
