<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Batchcode">
	{$Batchcode_editcontrol}
	</control>
	<control 
	field="sdate">
	{$sdate_editcontrol}
	</control>
	<control 
	field="stime">
	{$stime_editcontrol}
	</control>
	<control 
	field="etime">
	{$etime_editcontrol}
	</control>
	<control 
	field="status">
	{$status_editcontrol}
	</control>
	<control 
	field="remark">
	{$remark_editcontrol}
	</control>
	<control 
	field="realstime">
	{$realstime_editcontrol}
	</control>
	<control 
	field="realetime">
	{$realetime_editcontrol}
	</control>
	<control 
	field="attendance">
	{$attendance_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
