<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_main} rnr-wrapper rnr-cbw-main">

{BEGIN container_main}
<div class="rnr-c rnr-cv rnr-c-main">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel batch view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-viewfields {$brickclass_viewfields}"><table class="fieldGrid">
	{BEGIN batch_id_fieldblock}
<tr class="{$fielddispclass_batch_id}" data-fieldname="batch_id">
	<td class="rnr-label">
		{$label batch batch_id}
	</td>
	<td class="rnr-control style3">
		{$batch_id_value}&nbsp;
	</td>
</tr>
{END batch_id_fieldblock}
	{BEGIN Batchcode_fieldblock}
<tr class="{$fielddispclass_Batchcode}" data-fieldname="Batchcode">
	<td class="rnr-label">
		{$label batch Batchcode}
	</td>
	<td class="rnr-control style3">
		{$Batchcode_value}&nbsp;
	</td>
</tr>
{END Batchcode_fieldblock}
	{BEGIN fbgroup_fieldblock}
<tr class="{$fielddispclass_fbgroup}" data-fieldname="fbgroup">
	<td class="rnr-label">
		{$label batch fbgroup}
	</td>
	<td class="rnr-control style3">
		{$fbgroup_value}&nbsp;
	</td>
</tr>
{END fbgroup_fieldblock}
	{BEGIN division_id_fieldblock}
<tr class="{$fielddispclass_division_id}" data-fieldname="division_id">
	<td class="rnr-label">
		{$label batch division_id}
	</td>
	<td class="rnr-control style3">
		{$division_id_value}&nbsp;
	</td>
</tr>
{END division_id_fieldblock}
	{BEGIN university_id_fieldblock}
<tr class="{$fielddispclass_university_id}" data-fieldname="university_id">
	<td class="rnr-label">
		{$label batch university_id}
	</td>
	<td class="rnr-control style3">
		{$university_id_value}&nbsp;
	</td>
</tr>
{END university_id_fieldblock}
	{BEGIN department_id_fieldblock}
<tr class="{$fielddispclass_department_id}" data-fieldname="department_id">
	<td class="rnr-label">
		{$label batch department_id}
	</td>
	<td class="rnr-control style3">
		{$department_id_value}&nbsp;
	</td>
</tr>
{END department_id_fieldblock}
	{BEGIN starting_Date_fieldblock}
<tr class="{$fielddispclass_starting_Date}" data-fieldname="starting_Date">
	<td class="rnr-label">
		{$label batch starting_Date}
	</td>
	<td class="rnr-control style3">
		{$starting_Date_value}&nbsp;
	</td>
</tr>
{END starting_Date_fieldblock}
	{BEGIN Track_fieldblock}
<tr class="{$fielddispclass_Track}" data-fieldname="Track">
	<td class="rnr-label">
		{$label batch Track}
	</td>
	<td class="rnr-control style3">
		{$Track_value}&nbsp;
	</td>
</tr>
{END Track_fieldblock}
	{BEGIN cid_fieldblock}
<tr class="{$fielddispclass_cid}" data-fieldname="cid">
	<td class="rnr-label">
		{$label batch cid}
	</td>
	<td class="rnr-control style3">
		{$cid_value}&nbsp;
	</td>
</tr>
{END cid_fieldblock}
	{BEGIN status_fieldblock}
<tr class="{$fielddispclass_status}" data-fieldname="status">
	<td class="rnr-label">
		{$label batch status}
	</td>
	<td class="rnr-control style3">
		{$status_value}&nbsp;
	</td>
</tr>
{END status_fieldblock}
	{BEGIN uni_spoc_name_fieldblock}
<tr class="{$fielddispclass_uni_spoc_name}" data-fieldname="uni_spoc_name">
	<td class="rnr-label">
		{$label batch uni_spoc_name}
	</td>
	<td class="rnr-control style3">
		{$uni_spoc_name_value}&nbsp;
	</td>
</tr>
{END uni_spoc_name_fieldblock}
	{BEGIN uni_spoc_contact_fieldblock}
<tr class="{$fielddispclass_uni_spoc_contact}" data-fieldname="uni_spoc_contact">
	<td class="rnr-label">
		{$label batch uni_spoc_contact}
	</td>
	<td class="rnr-control style3">
		{$uni_spoc_contact_value}&nbsp;
	</td>
</tr>
{END uni_spoc_contact_fieldblock}
	{BEGIN ey_spoc_fieldblock}
<tr class="{$fielddispclass_ey_spoc}" data-fieldname="ey_spoc">
	<td class="rnr-label">
		{$label batch ey_spoc}
	</td>
	<td class="rnr-control style3">
		{$ey_spoc_value}&nbsp;
	</td>
</tr>
{END ey_spoc_fieldblock}
	{BEGIN local_spoc_fieldblock}
<tr class="{$fielddispclass_local_spoc}" data-fieldname="local_spoc">
	<td class="rnr-label">
		{$label batch local_spoc}
	</td>
	<td class="rnr-control style3">
		{$local_spoc_value}&nbsp;
	</td>
</tr>
{END local_spoc_fieldblock}
	{BEGIN schedule_fieldblock}
<tr class="{$fielddispclass_schedule}" data-fieldname="schedule">
	<td class="rnr-label">
		{$label batch schedule}
	</td>
	<td class="rnr-control style3">
		{$schedule_value}&nbsp;
	</td>
</tr>
{END schedule_fieldblock}
	{BEGIN tech_trainer_fieldblock}
<tr class="{$fielddispclass_tech_trainer}" data-fieldname="tech_trainer">
	<td class="rnr-label">
		{$label batch tech_trainer}
	</td>
	<td class="rnr-control style3">
		{$tech_trainer_value}&nbsp;
	</td>
</tr>
{END tech_trainer_fieldblock}
	{BEGIN soft_skill_trainer_fieldblock}
<tr class="{$fielddispclass_soft_skill_trainer}" data-fieldname="soft_skill_trainer">
	<td class="rnr-label">
		{$label batch soft_skill_trainer}
	</td>
	<td class="rnr-control style3">
		{$soft_skill_trainer_value}&nbsp;
	</td>
</tr>
{END soft_skill_trainer_fieldblock}
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
{BEGIN edit_page_button}
<a href="#" class="rnr-button" {$edit_page_button_attrs}>Edit</a>
{END edit_page_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_view}

</div>


</div>
{END container_main}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
