<div {$pageattrs}>

{BEGIN container_dcount}
<div {$dcount_chiddenattr} data-pageid="{$pageid}" data-container="dcount" class="    "> 


<span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Details found: <strong>{$row_count}</strong></span>





</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$batch_schedule_id_class}">{$label batch_schedule batch_schedule_id}</th>
			<th class="{$Today_status_class}">{$label batch_schedule Today_status}</th>
			<th class="{$batch_code_class}">{$label batch_schedule batch_code}</th>
			<th class="{$today_attendance_class}">{$label batch_schedule today_attendance}</th>
			<th class="{$cancle_remark_class}">{$label batch_schedule cancle_remark}</th>
			<th class="{$class_date_class}">{$label batch_schedule class_date}</th>
			<th class="{$start_time_class}">{$label batch_schedule start_time}</th>
			<th class="{$end_time_class}">{$label batch_schedule end_time}</th>
			<th class="{$batch_schedulecol_class}">{$label batch_schedule batch_schedulecol}</th>
			<th class="{$remarks_class}">{$label batch_schedule remarks}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$batch_schedule_id_class}">{$batch_schedule_id_value}</td>
			<td class="{$Today_status_class}">{$Today_status_value}</td>
			<td class="{$batch_code_class}">{$batch_code_value}</td>
			<td class="{$today_attendance_class}">{$today_attendance_value}</td>
			<td class="{$cancle_remark_class}">{$cancle_remark_value}</td>
			<td class="{$class_date_class}">{$class_date_value}</td>
			<td class="{$start_time_class}">{$start_time_value}</td>
			<td class="{$end_time_class}">{$end_time_value}</td>
			<td class="{$batch_schedulecol_class}">{$batch_schedulecol_value}</td>
			<td class="{$remarks_class}">{$remarks_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>