<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}



{BEGIN container_master}
<div {$master_chiddenattr} data-pageid="{$pageid}" data-container="master" class="    "> 

{BEGIN mastertable_block}
<div class="panel panel-info table-panel">
	<div class="panel-heading">
		{$master_heading}
	</div>
	<div class="panel-body">
		{$showmasterfile}
		
	</div>
</div>

{END mastertable_block}



</div>
{END container_master}



{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel batch_schedule print}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END printheader}


{BEGIN page_number}
<span>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN batch_schedule_id_fieldheadercolumn}
			<th class="{$batch_schedule_id_class}" {$batch_schedule_id_style}  data-field="batch_schedule_id">
				{$label batch_schedule batch_schedule_id}
			</th>
			{END batch_schedule_id_fieldheadercolumn}
			{BEGIN Today_status_fieldheadercolumn}
			<th class="{$Today_status_class}" {$Today_status_style}  data-field="Today_status">
				{$label batch_schedule Today_status}
			</th>
			{END Today_status_fieldheadercolumn}
			{BEGIN batch_code_fieldheadercolumn}
			<th class="{$batch_code_class}" {$batch_code_style}  data-field="batch_code">
				{$label batch_schedule batch_code}
			</th>
			{END batch_code_fieldheadercolumn}
			{BEGIN today_attendance_fieldheadercolumn}
			<th class="{$today_attendance_class}" {$today_attendance_style}  data-field="today_attendance">
				{$label batch_schedule today_attendance}
			</th>
			{END today_attendance_fieldheadercolumn}
			{BEGIN cancle_remark_fieldheadercolumn}
			<th class="{$cancle_remark_class}" {$cancle_remark_style}  data-field="cancle_remark">
				{$label batch_schedule cancle_remark}
			</th>
			{END cancle_remark_fieldheadercolumn}
			{BEGIN class_date_fieldheadercolumn}
			<th class="{$class_date_class}" {$class_date_style}  data-field="class_date">
				{$label batch_schedule class_date}
			</th>
			{END class_date_fieldheadercolumn}
			{BEGIN start_time_fieldheadercolumn}
			<th class="{$start_time_class}" {$start_time_style}  data-field="start_time">
				{$label batch_schedule start_time}
			</th>
			{END start_time_fieldheadercolumn}
			{BEGIN end_time_fieldheadercolumn}
			<th class="{$end_time_class}" {$end_time_style}  data-field="end_time">
				{$label batch_schedule end_time}
			</th>
			{END end_time_fieldheadercolumn}
			{BEGIN batch_schedulecol_fieldheadercolumn}
			<th class="{$batch_schedulecol_class}" {$batch_schedulecol_style}  data-field="batch_schedulecol">
				{$label batch_schedule batch_schedulecol}
			</th>
			{END batch_schedulecol_fieldheadercolumn}
			{BEGIN remarks_fieldheadercolumn}
			<th class="{$remarks_class}" {$remarks_style}  data-field="remarks">
				{$label batch_schedule remarks}
			</th>
			{END remarks_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN batch_schedule_id_fieldcolumn}
			<td  class="{$batch_schedule_id_class}" {$batch_schedule_id_style} {$recordattrs}>
				{$batch_schedule_id_value}
			</td>
			{END batch_schedule_id_fieldcolumn}
			{BEGIN Today_status_fieldcolumn}
			<td  class="{$Today_status_class}" {$Today_status_style} {$recordattrs}>
				{$Today_status_value}
			</td>
			{END Today_status_fieldcolumn}
			{BEGIN batch_code_fieldcolumn}
			<td  class="{$batch_code_class}" {$batch_code_style} {$recordattrs}>
				{$batch_code_value}
			</td>
			{END batch_code_fieldcolumn}
			{BEGIN today_attendance_fieldcolumn}
			<td  class="{$today_attendance_class}" {$today_attendance_style} {$recordattrs}>
				{$today_attendance_value}
			</td>
			{END today_attendance_fieldcolumn}
			{BEGIN cancle_remark_fieldcolumn}
			<td  class="{$cancle_remark_class}" {$cancle_remark_style} {$recordattrs}>
				{$cancle_remark_value}
			</td>
			{END cancle_remark_fieldcolumn}
			{BEGIN class_date_fieldcolumn}
			<td  class="{$class_date_class}" {$class_date_style} {$recordattrs}>
				{$class_date_value}
			</td>
			{END class_date_fieldcolumn}
			{BEGIN start_time_fieldcolumn}
			<td  class="{$start_time_class}" {$start_time_style} {$recordattrs}>
				{$start_time_value}
			</td>
			{END start_time_fieldcolumn}
			{BEGIN end_time_fieldcolumn}
			<td  class="{$end_time_class}" {$end_time_style} {$recordattrs}>
				{$end_time_value}
			</td>
			{END end_time_fieldcolumn}
			{BEGIN batch_schedulecol_fieldcolumn}
			<td  class="{$batch_schedulecol_class}" {$batch_schedulecol_style} {$recordattrs}>
				{$batch_schedulecol_value}
			</td>
			{END batch_schedulecol_fieldcolumn}
			{BEGIN remarks_fieldcolumn}
			<td  class="{$remarks_class}" {$remarks_style} {$recordattrs}>
				{$remarks_value}
			</td>
			{END remarks_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
	{BEGIN details_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
			{BEGIN details_record}
				<td colspan="11">
					{BEGIN details_table}
						{$details}
					{END details_table}
				</td>
				{BEGIN endrecord_block}
				<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
				{END endrecord_block}
			{END details_record}
		</tr>
	{END details_row}
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
