<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Back to {$backtomasterlink_caption}</a><span>{$pagetitlelabel batch_schedule masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=batch_schedule_id]:before {
		content: "{$label batch_schedule batch_schedule_id}";
	}
	.bs-gridcell[data-field=Today_status]:before {
		content: "{$label batch_schedule Today_status}";
	}
	.bs-gridcell[data-field=batch_code]:before {
		content: "{$label batch_schedule batch_code}";
	}
	.bs-gridcell[data-field=today_attendance]:before {
		content: "{$label batch_schedule today_attendance}";
	}
	.bs-gridcell[data-field=cancle_remark]:before {
		content: "{$label batch_schedule cancle_remark}";
	}
	.bs-gridcell[data-field=class_date]:before {
		content: "{$label batch_schedule class_date}";
	}
	.bs-gridcell[data-field=start_time]:before {
		content: "{$label batch_schedule start_time}";
	}
	.bs-gridcell[data-field=end_time]:before {
		content: "{$label batch_schedule end_time}";
	}
	.bs-gridcell[data-field=batch_schedulecol]:before {
		content: "{$label batch_schedule batch_schedulecol}";
	}
	.bs-gridcell[data-field=remarks]:before {
		content: "{$label batch_schedule remarks}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$batch_schedule_id_class}">{$label batch_schedule batch_schedule_id}</th>
			<th class="{$Today_status_class}">{$label batch_schedule Today_status}</th>
			<th class="{$batch_code_class}">{$label batch_schedule batch_code}</th>
			<th class="{$today_attendance_class}">{$label batch_schedule today_attendance}</th>
			<th class="{$cancle_remark_class}">{$label batch_schedule cancle_remark}</th>
			<th class="{$class_date_class}">{$label batch_schedule class_date}</th>
			<th class="{$start_time_class}">{$label batch_schedule start_time}</th>
			<th class="{$end_time_class}">{$label batch_schedule end_time}</th>
			<th class="{$batch_schedulecol_class}">{$label batch_schedule batch_schedulecol}</th>
			<th class="{$remarks_class}">{$label batch_schedule remarks}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$batch_schedule_id_class} bs-gridcell" data-field=batch_schedule_id>{$batch_schedule_id_mastervalue}</td>
			<td class="{$Today_status_class} bs-gridcell" data-field=Today_status>{$Today_status_mastervalue}</td>
			<td class="{$batch_code_class} bs-gridcell" data-field=batch_code>{$batch_code_mastervalue}</td>
			<td class="{$today_attendance_class} bs-gridcell" data-field=today_attendance>{$today_attendance_mastervalue}</td>
			<td class="{$cancle_remark_class} bs-gridcell" data-field=cancle_remark>{$cancle_remark_mastervalue}</td>
			<td class="{$class_date_class} bs-gridcell" data-field=class_date>{$class_date_mastervalue}</td>
			<td class="{$start_time_class} bs-gridcell" data-field=start_time>{$start_time_mastervalue}</td>
			<td class="{$end_time_class} bs-gridcell" data-field=end_time>{$end_time_mastervalue}</td>
			<td class="{$batch_schedulecol_class} bs-gridcell" data-field=batch_schedulecol>{$batch_schedulecol_mastervalue}</td>
			<td class="{$remarks_class} bs-gridcell" data-field=remarks>{$remarks_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>