<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel batch search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN Batchcode_fieldblock}		
	<div class="container {$fielddispclass_Batchcode}" data-fieldname="Batchcode">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Batchcode}">
				{$label batch Batchcode}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Batchcode}
			</div>
			<div class="col-md-4" >
				{$Batchcode_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Batchcode_editcontrol1}
			</div>
		</div>
	</div>
{END Batchcode_fieldblock}
	{BEGIN fbgroup_fieldblock}		
	<div class="container {$fielddispclass_fbgroup}" data-fieldname="fbgroup">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_fbgroup}">
				{$label batch fbgroup}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_fbgroup}
			</div>
			<div class="col-md-4" >
				{$fbgroup_editcontrol}
			</div>
			<div class="col-md-4" >
				{$fbgroup_editcontrol1}
			</div>
		</div>
	</div>
{END fbgroup_fieldblock}
	{BEGIN division_id_fieldblock}		
	<div class="container {$fielddispclass_division_id}" data-fieldname="division_id">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_division_id}">
				{$label batch division_id}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_division_id}
			</div>
			<div class="col-md-4" >
				{$division_id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$division_id_editcontrol1}
			</div>
		</div>
	</div>
{END division_id_fieldblock}
	{BEGIN university_id_fieldblock}		
	<div class="container {$fielddispclass_university_id}" data-fieldname="university_id">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_university_id}">
				{$label batch university_id}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_university_id}
			</div>
			<div class="col-md-4" >
				{$university_id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$university_id_editcontrol1}
			</div>
		</div>
	</div>
{END university_id_fieldblock}
	{BEGIN department_id_fieldblock}		
	<div class="container {$fielddispclass_department_id}" data-fieldname="department_id">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_department_id}">
				{$label batch department_id}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_department_id}
			</div>
			<div class="col-md-4" >
				{$department_id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$department_id_editcontrol1}
			</div>
		</div>
	</div>
{END department_id_fieldblock}
	{BEGIN starting_Date_fieldblock}		
	<div class="container {$fielddispclass_starting_Date}" data-fieldname="starting_Date">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_starting_Date}">
				{$label batch starting_Date}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_starting_Date}
			</div>
			<div class="col-md-4" >
				{$starting_Date_editcontrol}
			</div>
			<div class="col-md-4" >
				{$starting_Date_editcontrol1}
			</div>
		</div>
	</div>
{END starting_Date_fieldblock}
	{BEGIN Track_fieldblock}		
	<div class="container {$fielddispclass_Track}" data-fieldname="Track">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Track}">
				{$label batch Track}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Track}
			</div>
			<div class="col-md-4" >
				{$Track_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Track_editcontrol1}
			</div>
		</div>
	</div>
{END Track_fieldblock}
	{BEGIN cid_fieldblock}		
	<div class="container {$fielddispclass_cid}" data-fieldname="cid">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_cid}">
				{$label batch cid}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_cid}
			</div>
			<div class="col-md-4" >
				{$cid_editcontrol}
			</div>
			<div class="col-md-4" >
				{$cid_editcontrol1}
			</div>
		</div>
	</div>
{END cid_fieldblock}
	{BEGIN status_fieldblock}		
	<div class="container {$fielddispclass_status}" data-fieldname="status">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_status}">
				{$label batch status}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_status}
			</div>
			<div class="col-md-4" >
				{$status_editcontrol}
			</div>
			<div class="col-md-4" >
				{$status_editcontrol1}
			</div>
		</div>
	</div>
{END status_fieldblock}
	{BEGIN uni_spoc_name_fieldblock}		
	<div class="container {$fielddispclass_uni_spoc_name}" data-fieldname="uni_spoc_name">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_uni_spoc_name}">
				{$label batch uni_spoc_name}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_uni_spoc_name}
			</div>
			<div class="col-md-4" >
				{$uni_spoc_name_editcontrol}
			</div>
			<div class="col-md-4" >
				{$uni_spoc_name_editcontrol1}
			</div>
		</div>
	</div>
{END uni_spoc_name_fieldblock}
	{BEGIN uni_spoc_contact_fieldblock}		
	<div class="container {$fielddispclass_uni_spoc_contact}" data-fieldname="uni_spoc_contact">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_uni_spoc_contact}">
				{$label batch uni_spoc_contact}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_uni_spoc_contact}
			</div>
			<div class="col-md-4" >
				{$uni_spoc_contact_editcontrol}
			</div>
			<div class="col-md-4" >
				{$uni_spoc_contact_editcontrol1}
			</div>
		</div>
	</div>
{END uni_spoc_contact_fieldblock}
	{BEGIN ey_spoc_fieldblock}		
	<div class="container {$fielddispclass_ey_spoc}" data-fieldname="ey_spoc">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ey_spoc}">
				{$label batch ey_spoc}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ey_spoc}
			</div>
			<div class="col-md-4" >
				{$ey_spoc_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ey_spoc_editcontrol1}
			</div>
		</div>
	</div>
{END ey_spoc_fieldblock}
	{BEGIN local_spoc_fieldblock}		
	<div class="container {$fielddispclass_local_spoc}" data-fieldname="local_spoc">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_local_spoc}">
				{$label batch local_spoc}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_local_spoc}
			</div>
			<div class="col-md-4" >
				{$local_spoc_editcontrol}
			</div>
			<div class="col-md-4" >
				{$local_spoc_editcontrol1}
			</div>
		</div>
	</div>
{END local_spoc_fieldblock}
	{BEGIN schedule_fieldblock}		
	<div class="container {$fielddispclass_schedule}" data-fieldname="schedule">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_schedule}">
				{$label batch schedule}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_schedule}
			</div>
			<div class="col-md-4" >
				{$schedule_editcontrol}
			</div>
			<div class="col-md-4" >
				{$schedule_editcontrol1}
			</div>
		</div>
	</div>
{END schedule_fieldblock}
	{BEGIN tech_trainer_fieldblock}		
	<div class="container {$fielddispclass_tech_trainer}" data-fieldname="tech_trainer">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_tech_trainer}">
				{$label batch tech_trainer}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_tech_trainer}
			</div>
			<div class="col-md-4" >
				{$tech_trainer_editcontrol}
			</div>
			<div class="col-md-4" >
				{$tech_trainer_editcontrol1}
			</div>
		</div>
	</div>
{END tech_trainer_fieldblock}
	{BEGIN soft_skill_trainer_fieldblock}		
	<div class="container {$fielddispclass_soft_skill_trainer}" data-fieldname="soft_skill_trainer">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_soft_skill_trainer}">
				{$label batch soft_skill_trainer}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_soft_skill_trainer}
			</div>
			<div class="col-md-4" >
				{$soft_skill_trainer_editcontrol}
			</div>
			<div class="col-md-4" >
				{$soft_skill_trainer_editcontrol1}
			</div>
		</div>
	</div>
{END soft_skill_trainer_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
