<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel consultant masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$consultant_id_class}">{$label consultant consultant_id}</th>
			<th class="{$eid_class}">{$label consultant eid}</th>
			<th class="{$divison_id_class}">{$label consultant divison_id}</th>
			<th class="{$Type_class}">{$label consultant Type}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$consultant_id_class}">{$consultant_id_mastervalue}</td>
			<td class="{$eid_class}">{$eid_mastervalue}</td>
			<td class="{$divison_id_class}">{$divison_id_mastervalue}</td>
			<td class="{$Type_class}">{$Type_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>