<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel consultant masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$consultant_id_class}">{$label consultant consultant_id}</th>
			<th class="{$eid_class}">{$label consultant eid}</th>
			<th class="{$divison_id_class}">{$label consultant divison_id}</th>
			<th class="{$Type_class}">{$label consultant Type}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$consultant_id_class}">{$consultant_id_mastervalue}</td>
			<td class="{$eid_class}">{$eid_mastervalue}</td>
			<td class="{$divison_id_class}">{$divison_id_mastervalue}</td>
			<td class="{$Type_class}">{$Type_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>