<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel Dashboard search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN schedule_map_track_fieldblock}		
	<div class="container {$fielddispclass_schedule_map_track}" data-fieldname="schedule_map_track">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_schedule_map_track}">
				{$label Dashboard schedule_map_track}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_schedule_map_track}
			</div>
			<div class="col-md-4" >
				{$schedule_map_track_editcontrol}
			</div>
			<div class="col-md-4" >
				{$schedule_map_track_editcontrol1}
			</div>
		</div>
	</div>
{END schedule_map_track_fieldblock}
	{BEGIN schedule_map_Batchcode_fieldblock}		
	<div class="container {$fielddispclass_schedule_map_Batchcode}" data-fieldname="schedule_map_Batchcode">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_schedule_map_Batchcode}">
				{$label Dashboard schedule_map_Batchcode}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_schedule_map_Batchcode}
			</div>
			<div class="col-md-4" >
				{$schedule_map_Batchcode_editcontrol}
			</div>
			<div class="col-md-4" >
				{$schedule_map_Batchcode_editcontrol1}
			</div>
		</div>
	</div>
{END schedule_map_Batchcode_fieldblock}
	{BEGIN schedule_map_fbgroup_fieldblock}		
	<div class="container {$fielddispclass_schedule_map_fbgroup}" data-fieldname="schedule_map_fbgroup">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_schedule_map_fbgroup}">
				{$label Dashboard schedule_map_fbgroup}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_schedule_map_fbgroup}
			</div>
			<div class="col-md-4" >
				{$schedule_map_fbgroup_editcontrol}
			</div>
			<div class="col-md-4" >
				{$schedule_map_fbgroup_editcontrol1}
			</div>
		</div>
	</div>
{END schedule_map_fbgroup_fieldblock}
	{BEGIN schedule_map_university_id_fieldblock}		
	<div class="container {$fielddispclass_schedule_map_university_id}" data-fieldname="schedule_map_university_id">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_schedule_map_university_id}">
				{$label Dashboard schedule_map_university_id}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_schedule_map_university_id}
			</div>
			<div class="col-md-4" >
				{$schedule_map_university_id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$schedule_map_university_id_editcontrol1}
			</div>
		</div>
	</div>
{END schedule_map_university_id_fieldblock}
	{BEGIN schedule_map_status_fieldblock}		
	<div class="container {$fielddispclass_schedule_map_status}" data-fieldname="schedule_map_status">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_schedule_map_status}">
				{$label Dashboard schedule_map_status}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_schedule_map_status}
			</div>
			<div class="col-md-4" >
				{$schedule_map_status_editcontrol}
			</div>
			<div class="col-md-4" >
				{$schedule_map_status_editcontrol1}
			</div>
		</div>
	</div>
{END schedule_map_status_fieldblock}
	{BEGIN schedule_map_University_name_fieldblock}		
	<div class="container {$fielddispclass_schedule_map_University_name}" data-fieldname="schedule_map_University_name">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_schedule_map_University_name}">
				{$label Dashboard schedule_map_University_name}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_schedule_map_University_name}
			</div>
			<div class="col-md-4" >
				{$schedule_map_University_name_editcontrol}
			</div>
			<div class="col-md-4" >
				{$schedule_map_University_name_editcontrol1}
			</div>
		</div>
	</div>
{END schedule_map_University_name_fieldblock}
	{BEGIN schedule_map_Lat_fieldblock}		
	<div class="container {$fielddispclass_schedule_map_Lat}" data-fieldname="schedule_map_Lat">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_schedule_map_Lat}">
				{$label Dashboard schedule_map_Lat}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_schedule_map_Lat}
			</div>
			<div class="col-md-4" >
				{$schedule_map_Lat_editcontrol}
			</div>
			<div class="col-md-4" >
				{$schedule_map_Lat_editcontrol1}
			</div>
		</div>
	</div>
{END schedule_map_Lat_fieldblock}
	{BEGIN schedule_map_Lng_fieldblock}		
	<div class="container {$fielddispclass_schedule_map_Lng}" data-fieldname="schedule_map_Lng">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_schedule_map_Lng}">
				{$label Dashboard schedule_map_Lng}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_schedule_map_Lng}
			</div>
			<div class="col-md-4" >
				{$schedule_map_Lng_editcontrol}
			</div>
			<div class="col-md-4" >
				{$schedule_map_Lng_editcontrol1}
			</div>
		</div>
	</div>
{END schedule_map_Lng_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to Dashboard</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
