<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel department masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$Department_id_class}">{$label department Department_id}</th>
			<th class="{$Dname_class}">{$label department Dname}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$Department_id_class}">{$Department_id_mastervalue}</td>
			<td class="{$Dname_class}">{$Dname_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>