<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Back to {$backtomasterlink_caption}</a><span>{$pagetitlelabel department masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=Department_id]:before {
		content: "{$label department Department_id}";
	}
	.bs-gridcell[data-field=Dname]:before {
		content: "{$label department Dname}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$Department_id_class}">{$label department Department_id}</th>
			<th class="{$Dname_class}">{$label department Dname}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$Department_id_class} bs-gridcell" data-field=Department_id>{$Department_id_mastervalue}</td>
			<td class="{$Dname_class} bs-gridcell" data-field=Dname>{$Dname_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>