<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel division masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$division_id_class}">{$label division division_id}</th>
			<th class="{$dname_class}">{$label division dname}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$division_id_class}">{$division_id_mastervalue}</td>
			<td class="{$dname_class}">{$dname_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>