<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="ename">
	{$ename_editcontrol}
	</control>
	<control 
	field="emppic">
	{$emppic_editcontrol}
	</control>
	<control 
	field="designation">
	{$designation_editcontrol}
	</control>
	<control 
	field="whtasapp">
	{$whtasapp_editcontrol}
	</control>
	<control 
	field="localnum">
	{$localnum_editcontrol}
	</control>
	<control 
	field="skype">
	{$skype_editcontrol}
	</control>
	<control 
	field="dropbox">
	{$dropbox_editcontrol}
	</control>
	<control 
	field="email">
	{$email_editcontrol}
	</control>
	<control 
	field="dob">
	{$dob_editcontrol}
	</control>
	<control 
	field="password">
	{$password_editcontrol}
	</control>
	<control 
	field="passportno">
	{$passportno_editcontrol}
	</control>
	<control 
	field="passport_expiry">
	{$passport_expiry_editcontrol}
	</control>
	<control 
	field="visa_no">
	{$visa_no_editcontrol}
	</control>
	<control 
	field="visa_expiry">
	{$visa_expiry_editcontrol}
	</control>
	<control 
	field="division_id">
	{$division_id_editcontrol}
	</control>
	<control 
	field="doj">
	{$doj_editcontrol}
	</control>
	<control 
	field="dor">
	{$dor_editcontrol}
	</control>
	<control 
	field="status_id">
	{$status_id_editcontrol}
	</control>
	<control 
	field="experence">
	{$experence_editcontrol}
	</control>
	<control 
	field="nationality">
	{$nationality_editcontrol}
	</control>
	<control 
	field="qulification">
	{$qulification_editcontrol}
	</control>
	<control 
	field="skillset">
	{$skillset_editcontrol}
	</control>
	<control 
	field="cid">
	{$cid_editcontrol}
	</control>
	<control 
	field="reset_token">
	{$reset_token_editcontrol}
	</control>
	<control 
	field="reset_date">
	{$reset_date_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
