<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_search}
<div class="rnr-c rnr-cv rnr-c-search">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel employees search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_eid}">
	{BEGIN eid_fieldblock}		
	<td>
		{$label employees eid}
	</td>
	<td>
		<input type="checkbox" {$eid_notbox}>
	</td>
	<td>
		{$searchtype_eid}
	</td>
	<td>
		{$eid_editcontrol}&nbsp;
	</td>
	<td>
		{$eid_editcontrol1}&nbsp;
	</td>
{END eid_fieldblock}
	</tr>
	<tr class="{$fielddispclass_ename}">
	{BEGIN ename_fieldblock}		
	<td>
		{$label employees ename}
	</td>
	<td>
		<input type="checkbox" {$ename_notbox}>
	</td>
	<td>
		{$searchtype_ename}
	</td>
	<td>
		{$ename_editcontrol}&nbsp;
	</td>
	<td>
		{$ename_editcontrol1}&nbsp;
	</td>
{END ename_fieldblock}
	</tr>
	<tr class="{$fielddispclass_emppic}">
	{BEGIN emppic_fieldblock}		
	<td>
		{$label employees emppic}
	</td>
	<td>
		<input type="checkbox" {$emppic_notbox}>
	</td>
	<td>
		{$searchtype_emppic}
	</td>
	<td>
		{$emppic_editcontrol}&nbsp;
	</td>
	<td>
		{$emppic_editcontrol1}&nbsp;
	</td>
{END emppic_fieldblock}
	</tr>
	<tr class="{$fielddispclass_designation}">
	{BEGIN designation_fieldblock}		
	<td>
		{$label employees designation}
	</td>
	<td>
		<input type="checkbox" {$designation_notbox}>
	</td>
	<td>
		{$searchtype_designation}
	</td>
	<td>
		{$designation_editcontrol}&nbsp;
	</td>
	<td>
		{$designation_editcontrol1}&nbsp;
	</td>
{END designation_fieldblock}
	</tr>
	<tr class="{$fielddispclass_whtasapp}">
	{BEGIN whtasapp_fieldblock}		
	<td>
		{$label employees whtasapp}
	</td>
	<td>
		<input type="checkbox" {$whtasapp_notbox}>
	</td>
	<td>
		{$searchtype_whtasapp}
	</td>
	<td>
		{$whtasapp_editcontrol}&nbsp;
	</td>
	<td>
		{$whtasapp_editcontrol1}&nbsp;
	</td>
{END whtasapp_fieldblock}
	</tr>
	<tr class="{$fielddispclass_localnum}">
	{BEGIN localnum_fieldblock}		
	<td>
		{$label employees localnum}
	</td>
	<td>
		<input type="checkbox" {$localnum_notbox}>
	</td>
	<td>
		{$searchtype_localnum}
	</td>
	<td>
		{$localnum_editcontrol}&nbsp;
	</td>
	<td>
		{$localnum_editcontrol1}&nbsp;
	</td>
{END localnum_fieldblock}
	</tr>
	<tr class="{$fielddispclass_skype}">
	{BEGIN skype_fieldblock}		
	<td>
		{$label employees skype}
	</td>
	<td>
		<input type="checkbox" {$skype_notbox}>
	</td>
	<td>
		{$searchtype_skype}
	</td>
	<td>
		{$skype_editcontrol}&nbsp;
	</td>
	<td>
		{$skype_editcontrol1}&nbsp;
	</td>
{END skype_fieldblock}
	</tr>
	<tr class="{$fielddispclass_dropbox}">
	{BEGIN dropbox_fieldblock}		
	<td>
		{$label employees dropbox}
	</td>
	<td>
		<input type="checkbox" {$dropbox_notbox}>
	</td>
	<td>
		{$searchtype_dropbox}
	</td>
	<td>
		{$dropbox_editcontrol}&nbsp;
	</td>
	<td>
		{$dropbox_editcontrol1}&nbsp;
	</td>
{END dropbox_fieldblock}
	</tr>
	<tr class="{$fielddispclass_email}">
	{BEGIN email_fieldblock}		
	<td>
		{$label employees email}
	</td>
	<td>
		<input type="checkbox" {$email_notbox}>
	</td>
	<td>
		{$searchtype_email}
	</td>
	<td>
		{$email_editcontrol}&nbsp;
	</td>
	<td>
		{$email_editcontrol1}&nbsp;
	</td>
{END email_fieldblock}
	</tr>
	<tr class="{$fielddispclass_dob}">
	{BEGIN dob_fieldblock}		
	<td>
		{$label employees dob}
	</td>
	<td>
		<input type="checkbox" {$dob_notbox}>
	</td>
	<td>
		{$searchtype_dob}
	</td>
	<td>
		{$dob_editcontrol}&nbsp;
	</td>
	<td>
		{$dob_editcontrol1}&nbsp;
	</td>
{END dob_fieldblock}
	</tr>
	<tr class="{$fielddispclass_password}">
	{BEGIN password_fieldblock}		
	<td>
		{$label employees password}
	</td>
	<td>
		<input type="checkbox" {$password_notbox}>
	</td>
	<td>
		{$searchtype_password}
	</td>
	<td>
		{$password_editcontrol}&nbsp;
	</td>
	<td>
		{$password_editcontrol1}&nbsp;
	</td>
{END password_fieldblock}
	</tr>
	<tr class="{$fielddispclass_passportno}">
	{BEGIN passportno_fieldblock}		
	<td>
		{$label employees passportno}
	</td>
	<td>
		<input type="checkbox" {$passportno_notbox}>
	</td>
	<td>
		{$searchtype_passportno}
	</td>
	<td>
		{$passportno_editcontrol}&nbsp;
	</td>
	<td>
		{$passportno_editcontrol1}&nbsp;
	</td>
{END passportno_fieldblock}
	</tr>
	<tr class="{$fielddispclass_passport_expiry}">
	{BEGIN passport_expiry_fieldblock}		
	<td>
		{$label employees passport_expiry}
	</td>
	<td>
		<input type="checkbox" {$passport_expiry_notbox}>
	</td>
	<td>
		{$searchtype_passport_expiry}
	</td>
	<td>
		{$passport_expiry_editcontrol}&nbsp;
	</td>
	<td>
		{$passport_expiry_editcontrol1}&nbsp;
	</td>
{END passport_expiry_fieldblock}
	</tr>
	<tr class="{$fielddispclass_visa_no}">
	{BEGIN visa_no_fieldblock}		
	<td>
		{$label employees visa_no}
	</td>
	<td>
		<input type="checkbox" {$visa_no_notbox}>
	</td>
	<td>
		{$searchtype_visa_no}
	</td>
	<td>
		{$visa_no_editcontrol}&nbsp;
	</td>
	<td>
		{$visa_no_editcontrol1}&nbsp;
	</td>
{END visa_no_fieldblock}
	</tr>
	<tr class="{$fielddispclass_visa_expiry}">
	{BEGIN visa_expiry_fieldblock}		
	<td>
		{$label employees visa_expiry}
	</td>
	<td>
		<input type="checkbox" {$visa_expiry_notbox}>
	</td>
	<td>
		{$searchtype_visa_expiry}
	</td>
	<td>
		{$visa_expiry_editcontrol}&nbsp;
	</td>
	<td>
		{$visa_expiry_editcontrol1}&nbsp;
	</td>
{END visa_expiry_fieldblock}
	</tr>
	<tr class="{$fielddispclass_division_id}">
	{BEGIN division_id_fieldblock}		
	<td>
		{$label employees division_id}
	</td>
	<td>
		<input type="checkbox" {$division_id_notbox}>
	</td>
	<td>
		{$searchtype_division_id}
	</td>
	<td>
		{$division_id_editcontrol}&nbsp;
	</td>
	<td>
		{$division_id_editcontrol1}&nbsp;
	</td>
{END division_id_fieldblock}
	</tr>
	<tr class="{$fielddispclass_doj}">
	{BEGIN doj_fieldblock}		
	<td>
		{$label employees doj}
	</td>
	<td>
		<input type="checkbox" {$doj_notbox}>
	</td>
	<td>
		{$searchtype_doj}
	</td>
	<td>
		{$doj_editcontrol}&nbsp;
	</td>
	<td>
		{$doj_editcontrol1}&nbsp;
	</td>
{END doj_fieldblock}
	</tr>
	<tr class="{$fielddispclass_dor}">
	{BEGIN dor_fieldblock}		
	<td>
		{$label employees dor}
	</td>
	<td>
		<input type="checkbox" {$dor_notbox}>
	</td>
	<td>
		{$searchtype_dor}
	</td>
	<td>
		{$dor_editcontrol}&nbsp;
	</td>
	<td>
		{$dor_editcontrol1}&nbsp;
	</td>
{END dor_fieldblock}
	</tr>
	<tr class="{$fielddispclass_status_id}">
	{BEGIN status_id_fieldblock}		
	<td>
		{$label employees status_id}
	</td>
	<td>
		<input type="checkbox" {$status_id_notbox}>
	</td>
	<td>
		{$searchtype_status_id}
	</td>
	<td>
		{$status_id_editcontrol}&nbsp;
	</td>
	<td>
		{$status_id_editcontrol1}&nbsp;
	</td>
{END status_id_fieldblock}
	</tr>
	<tr class="{$fielddispclass_experence}">
	{BEGIN experence_fieldblock}		
	<td>
		{$label employees experence}
	</td>
	<td>
		<input type="checkbox" {$experence_notbox}>
	</td>
	<td>
		{$searchtype_experence}
	</td>
	<td>
		{$experence_editcontrol}&nbsp;
	</td>
	<td>
		{$experence_editcontrol1}&nbsp;
	</td>
{END experence_fieldblock}
	</tr>
	<tr class="{$fielddispclass_nationality}">
	{BEGIN nationality_fieldblock}		
	<td>
		{$label employees nationality}
	</td>
	<td>
		<input type="checkbox" {$nationality_notbox}>
	</td>
	<td>
		{$searchtype_nationality}
	</td>
	<td>
		{$nationality_editcontrol}&nbsp;
	</td>
	<td>
		{$nationality_editcontrol1}&nbsp;
	</td>
{END nationality_fieldblock}
	</tr>
	<tr class="{$fielddispclass_qulification}">
	{BEGIN qulification_fieldblock}		
	<td>
		{$label employees qulification}
	</td>
	<td>
		<input type="checkbox" {$qulification_notbox}>
	</td>
	<td>
		{$searchtype_qulification}
	</td>
	<td>
		{$qulification_editcontrol}&nbsp;
	</td>
	<td>
		{$qulification_editcontrol1}&nbsp;
	</td>
{END qulification_fieldblock}
	</tr>
	<tr class="{$fielddispclass_skillset}">
	{BEGIN skillset_fieldblock}		
	<td>
		{$label employees skillset}
	</td>
	<td>
		<input type="checkbox" {$skillset_notbox}>
	</td>
	<td>
		{$searchtype_skillset}
	</td>
	<td>
		{$skillset_editcontrol}&nbsp;
	</td>
	<td>
		{$skillset_editcontrol1}&nbsp;
	</td>
{END skillset_fieldblock}
	</tr>
	<tr class="{$fielddispclass_cid}">
	{BEGIN cid_fieldblock}		
	<td>
		{$label employees cid}
	</td>
	<td>
		<input type="checkbox" {$cid_notbox}>
	</td>
	<td>
		{$searchtype_cid}
	</td>
	<td>
		{$cid_editcontrol}&nbsp;
	</td>
	<td>
		{$cid_editcontrol1}&nbsp;
	</td>
{END cid_fieldblock}
	</tr>
	<tr class="{$fielddispclass_reset_token}">
	{BEGIN reset_token_fieldblock}		
	<td>
		{$label employees reset_token}
	</td>
	<td>
		<input type="checkbox" {$reset_token_notbox}>
	</td>
	<td>
		{$searchtype_reset_token}
	</td>
	<td>
		{$reset_token_editcontrol}&nbsp;
	</td>
	<td>
		{$reset_token_editcontrol1}&nbsp;
	</td>
{END reset_token_fieldblock}
	</tr>
	<tr class="{$fielddispclass_reset_date}">
	{BEGIN reset_date_fieldblock}		
	<td>
		{$label employees reset_date}
	</td>
	<td>
		<input type="checkbox" {$reset_date_notbox}>
	</td>
	<td>
		{$searchtype_reset_date}
	</td>
	<td>
		{$reset_date_editcontrol}&nbsp;
	</td>
	<td>
		{$reset_date_editcontrol1}&nbsp;
	</td>
{END reset_date_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_search}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
