<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_edit} rnr-wrapper rnr-cbw-edit">

{BEGIN container_edit}
<div class="rnr-c rnr-cv rnr-c-edit">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel employees edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-editfields {$brickclass_editfields}"><table class="fieldGrid">
	{BEGIN ename_fieldblock}
<tr class="{$fielddispclass_ename}" data-fieldname="ename">
	<td class="rnr-label">
		{BEGIN ename_label}{$label employees ename}{END ename_label}
	</td>
	<td class="rnr-control style3">
		{$ename_editcontrol}&nbsp;
	</td>
</tr>
{END ename_fieldblock}
	{BEGIN emppic_fieldblock}
<tr class="{$fielddispclass_emppic}" data-fieldname="emppic">
	<td class="rnr-label">
		{BEGIN emppic_label}{$label employees emppic}{END emppic_label}
	</td>
	<td class="rnr-control style3">
		{$emppic_editcontrol}&nbsp;
	</td>
</tr>
{END emppic_fieldblock}
	{BEGIN designation_fieldblock}
<tr class="{$fielddispclass_designation}" data-fieldname="designation">
	<td class="rnr-label">
		{BEGIN designation_label}{$label employees designation}{END designation_label}
	</td>
	<td class="rnr-control style3">
		{$designation_editcontrol}&nbsp;
	</td>
</tr>
{END designation_fieldblock}
	{BEGIN whtasapp_fieldblock}
<tr class="{$fielddispclass_whtasapp}" data-fieldname="whtasapp">
	<td class="rnr-label">
		{BEGIN whtasapp_label}{$label employees whtasapp}{END whtasapp_label}
	</td>
	<td class="rnr-control style3">
		{$whtasapp_editcontrol}&nbsp;
	</td>
</tr>
{END whtasapp_fieldblock}
	{BEGIN localnum_fieldblock}
<tr class="{$fielddispclass_localnum}" data-fieldname="localnum">
	<td class="rnr-label">
		{BEGIN localnum_label}{$label employees localnum}{END localnum_label}
	</td>
	<td class="rnr-control style3">
		{$localnum_editcontrol}&nbsp;
	</td>
</tr>
{END localnum_fieldblock}
	{BEGIN skype_fieldblock}
<tr class="{$fielddispclass_skype}" data-fieldname="skype">
	<td class="rnr-label">
		{BEGIN skype_label}{$label employees skype}{END skype_label}
	</td>
	<td class="rnr-control style3">
		{$skype_editcontrol}&nbsp;
	</td>
</tr>
{END skype_fieldblock}
	{BEGIN dropbox_fieldblock}
<tr class="{$fielddispclass_dropbox}" data-fieldname="dropbox">
	<td class="rnr-label">
		{BEGIN dropbox_label}{$label employees dropbox}{END dropbox_label}
	</td>
	<td class="rnr-control style3">
		{$dropbox_editcontrol}&nbsp;
	</td>
</tr>
{END dropbox_fieldblock}
	{BEGIN email_fieldblock}
<tr class="{$fielddispclass_email}" data-fieldname="email">
	<td class="rnr-label">
		{BEGIN email_label}{$label employees email}{END email_label}
	</td>
	<td class="rnr-control style3">
		{$email_editcontrol}&nbsp;
	</td>
</tr>
{END email_fieldblock}
	{BEGIN dob_fieldblock}
<tr class="{$fielddispclass_dob}" data-fieldname="dob">
	<td class="rnr-label">
		{BEGIN dob_label}{$label employees dob}{END dob_label}
	</td>
	<td class="rnr-control style3">
		{$dob_editcontrol}&nbsp;
	</td>
</tr>
{END dob_fieldblock}
	{BEGIN password_fieldblock}
<tr class="{$fielddispclass_password}" data-fieldname="password">
	<td class="rnr-label">
		{BEGIN password_label}{$label employees password}{END password_label}
	</td>
	<td class="rnr-control style3">
		{$password_editcontrol}&nbsp;
	</td>
</tr>
{END password_fieldblock}
	{BEGIN passportno_fieldblock}
<tr class="{$fielddispclass_passportno}" data-fieldname="passportno">
	<td class="rnr-label">
		{BEGIN passportno_label}{$label employees passportno}{END passportno_label}
	</td>
	<td class="rnr-control style3">
		{$passportno_editcontrol}&nbsp;
	</td>
</tr>
{END passportno_fieldblock}
	{BEGIN passport_expiry_fieldblock}
<tr class="{$fielddispclass_passport_expiry}" data-fieldname="passport_expiry">
	<td class="rnr-label">
		{BEGIN passport_expiry_label}{$label employees passport_expiry}{END passport_expiry_label}
	</td>
	<td class="rnr-control style3">
		{$passport_expiry_editcontrol}&nbsp;
	</td>
</tr>
{END passport_expiry_fieldblock}
	{BEGIN visa_no_fieldblock}
<tr class="{$fielddispclass_visa_no}" data-fieldname="visa_no">
	<td class="rnr-label">
		{BEGIN visa_no_label}{$label employees visa_no}{END visa_no_label}
	</td>
	<td class="rnr-control style3">
		{$visa_no_editcontrol}&nbsp;
	</td>
</tr>
{END visa_no_fieldblock}
	{BEGIN visa_expiry_fieldblock}
<tr class="{$fielddispclass_visa_expiry}" data-fieldname="visa_expiry">
	<td class="rnr-label">
		{BEGIN visa_expiry_label}{$label employees visa_expiry}{END visa_expiry_label}
	</td>
	<td class="rnr-control style3">
		{$visa_expiry_editcontrol}&nbsp;
	</td>
</tr>
{END visa_expiry_fieldblock}
	{BEGIN division_id_fieldblock}
<tr class="{$fielddispclass_division_id}" data-fieldname="division_id">
	<td class="rnr-label">
		{BEGIN division_id_label}{$label employees division_id}{END division_id_label}
	</td>
	<td class="rnr-control style3">
		{$division_id_editcontrol}&nbsp;
	</td>
</tr>
{END division_id_fieldblock}
	{BEGIN doj_fieldblock}
<tr class="{$fielddispclass_doj}" data-fieldname="doj">
	<td class="rnr-label">
		{BEGIN doj_label}{$label employees doj}{END doj_label}
	</td>
	<td class="rnr-control style3">
		{$doj_editcontrol}&nbsp;
	</td>
</tr>
{END doj_fieldblock}
	{BEGIN dor_fieldblock}
<tr class="{$fielddispclass_dor}" data-fieldname="dor">
	<td class="rnr-label">
		{BEGIN dor_label}{$label employees dor}{END dor_label}
	</td>
	<td class="rnr-control style3">
		{$dor_editcontrol}&nbsp;
	</td>
</tr>
{END dor_fieldblock}
	{BEGIN status_id_fieldblock}
<tr class="{$fielddispclass_status_id}" data-fieldname="status_id">
	<td class="rnr-label">
		{BEGIN status_id_label}{$label employees status_id}{END status_id_label}
	</td>
	<td class="rnr-control style3">
		{$status_id_editcontrol}&nbsp;
	</td>
</tr>
{END status_id_fieldblock}
	{BEGIN experence_fieldblock}
<tr class="{$fielddispclass_experence}" data-fieldname="experence">
	<td class="rnr-label">
		{BEGIN experence_label}{$label employees experence}{END experence_label}
	</td>
	<td class="rnr-control style3">
		{$experence_editcontrol}&nbsp;
	</td>
</tr>
{END experence_fieldblock}
	{BEGIN nationality_fieldblock}
<tr class="{$fielddispclass_nationality}" data-fieldname="nationality">
	<td class="rnr-label">
		{BEGIN nationality_label}{$label employees nationality}{END nationality_label}
	</td>
	<td class="rnr-control style3">
		{$nationality_editcontrol}&nbsp;
	</td>
</tr>
{END nationality_fieldblock}
	{BEGIN qulification_fieldblock}
<tr class="{$fielddispclass_qulification}" data-fieldname="qulification">
	<td class="rnr-label">
		{BEGIN qulification_label}{$label employees qulification}{END qulification_label}
	</td>
	<td class="rnr-control style3">
		{$qulification_editcontrol}&nbsp;
	</td>
</tr>
{END qulification_fieldblock}
	{BEGIN skillset_fieldblock}
<tr class="{$fielddispclass_skillset}" data-fieldname="skillset">
	<td class="rnr-label">
		{BEGIN skillset_label}{$label employees skillset}{END skillset_label}
	</td>
	<td class="rnr-control style3">
		{$skillset_editcontrol}&nbsp;
	</td>
</tr>
{END skillset_fieldblock}
	{BEGIN cid_fieldblock}
<tr class="{$fielddispclass_cid}" data-fieldname="cid">
	<td class="rnr-label">
		{BEGIN cid_label}{$label employees cid}{END cid_label}
	</td>
	<td class="rnr-control style3">
		{$cid_editcontrol}&nbsp;
	</td>
</tr>
{END cid_fieldblock}
	{BEGIN reset_token_fieldblock}
<tr class="{$fielddispclass_reset_token}" data-fieldname="reset_token">
	<td class="rnr-label">
		{BEGIN reset_token_label}{$label employees reset_token}{END reset_token_label}
	</td>
	<td class="rnr-control style3">
		{$reset_token_editcontrol}&nbsp;
	</td>
</tr>
{END reset_token_fieldblock}
	{BEGIN reset_date_fieldblock}
<tr class="{$fielddispclass_reset_date}" data-fieldname="reset_date">
	<td class="rnr-label">
		{BEGIN reset_date_label}{$label employees reset_date}{END reset_date_label}
	</td>
	<td class="rnr-control style3">
		{$reset_date_editcontrol}&nbsp;
	</td>
</tr>
{END reset_date_fieldblock}
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN save_button}
<a href="#" class="rnr-button main" {$savebutton_attrs}>Save</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
{BEGIN view_page_button}
<a href="#" class="rnr-button" {$view_page_button_attrs}>View</a>
{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_edit}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
