<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_main} rnr-wrapper rnr-cbw-main">

{BEGIN container_main}
<div class="rnr-c rnr-cv rnr-c-main">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel employees view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-viewfields {$brickclass_viewfields}"><table class="fieldGrid">
	{BEGIN eid_fieldblock}
<tr class="{$fielddispclass_eid}" data-fieldname="eid">
	<td class="rnr-label">
		{$label employees eid}
	</td>
	<td class="rnr-control style3">
		{$eid_value}&nbsp;
	</td>
</tr>
{END eid_fieldblock}
	{BEGIN ename_fieldblock}
<tr class="{$fielddispclass_ename}" data-fieldname="ename">
	<td class="rnr-label">
		{$label employees ename}
	</td>
	<td class="rnr-control style3">
		{$ename_value}&nbsp;
	</td>
</tr>
{END ename_fieldblock}
	{BEGIN emppic_fieldblock}
<tr class="{$fielddispclass_emppic}" data-fieldname="emppic">
	<td class="rnr-label">
		{$label employees emppic}
	</td>
	<td class="rnr-control style3">
		{$emppic_value}&nbsp;
	</td>
</tr>
{END emppic_fieldblock}
	{BEGIN designation_fieldblock}
<tr class="{$fielddispclass_designation}" data-fieldname="designation">
	<td class="rnr-label">
		{$label employees designation}
	</td>
	<td class="rnr-control style3">
		{$designation_value}&nbsp;
	</td>
</tr>
{END designation_fieldblock}
	{BEGIN whtasapp_fieldblock}
<tr class="{$fielddispclass_whtasapp}" data-fieldname="whtasapp">
	<td class="rnr-label">
		{$label employees whtasapp}
	</td>
	<td class="rnr-control style3">
		{$whtasapp_value}&nbsp;
	</td>
</tr>
{END whtasapp_fieldblock}
	{BEGIN localnum_fieldblock}
<tr class="{$fielddispclass_localnum}" data-fieldname="localnum">
	<td class="rnr-label">
		{$label employees localnum}
	</td>
	<td class="rnr-control style3">
		{$localnum_value}&nbsp;
	</td>
</tr>
{END localnum_fieldblock}
	{BEGIN skype_fieldblock}
<tr class="{$fielddispclass_skype}" data-fieldname="skype">
	<td class="rnr-label">
		{$label employees skype}
	</td>
	<td class="rnr-control style3">
		{$skype_value}&nbsp;
	</td>
</tr>
{END skype_fieldblock}
	{BEGIN dropbox_fieldblock}
<tr class="{$fielddispclass_dropbox}" data-fieldname="dropbox">
	<td class="rnr-label">
		{$label employees dropbox}
	</td>
	<td class="rnr-control style3">
		{$dropbox_value}&nbsp;
	</td>
</tr>
{END dropbox_fieldblock}
	{BEGIN email_fieldblock}
<tr class="{$fielddispclass_email}" data-fieldname="email">
	<td class="rnr-label">
		{$label employees email}
	</td>
	<td class="rnr-control style3">
		{$email_value}&nbsp;
	</td>
</tr>
{END email_fieldblock}
	{BEGIN dob_fieldblock}
<tr class="{$fielddispclass_dob}" data-fieldname="dob">
	<td class="rnr-label">
		{$label employees dob}
	</td>
	<td class="rnr-control style3">
		{$dob_value}&nbsp;
	</td>
</tr>
{END dob_fieldblock}
	{BEGIN password_fieldblock}
<tr class="{$fielddispclass_password}" data-fieldname="password">
	<td class="rnr-label">
		{$label employees password}
	</td>
	<td class="rnr-control style3">
		{$password_value}&nbsp;
	</td>
</tr>
{END password_fieldblock}
	{BEGIN passportno_fieldblock}
<tr class="{$fielddispclass_passportno}" data-fieldname="passportno">
	<td class="rnr-label">
		{$label employees passportno}
	</td>
	<td class="rnr-control style3">
		{$passportno_value}&nbsp;
	</td>
</tr>
{END passportno_fieldblock}
	{BEGIN passport_expiry_fieldblock}
<tr class="{$fielddispclass_passport_expiry}" data-fieldname="passport_expiry">
	<td class="rnr-label">
		{$label employees passport_expiry}
	</td>
	<td class="rnr-control style3">
		{$passport_expiry_value}&nbsp;
	</td>
</tr>
{END passport_expiry_fieldblock}
	{BEGIN visa_no_fieldblock}
<tr class="{$fielddispclass_visa_no}" data-fieldname="visa_no">
	<td class="rnr-label">
		{$label employees visa_no}
	</td>
	<td class="rnr-control style3">
		{$visa_no_value}&nbsp;
	</td>
</tr>
{END visa_no_fieldblock}
	{BEGIN visa_expiry_fieldblock}
<tr class="{$fielddispclass_visa_expiry}" data-fieldname="visa_expiry">
	<td class="rnr-label">
		{$label employees visa_expiry}
	</td>
	<td class="rnr-control style3">
		{$visa_expiry_value}&nbsp;
	</td>
</tr>
{END visa_expiry_fieldblock}
	{BEGIN division_id_fieldblock}
<tr class="{$fielddispclass_division_id}" data-fieldname="division_id">
	<td class="rnr-label">
		{$label employees division_id}
	</td>
	<td class="rnr-control style3">
		{$division_id_value}&nbsp;
	</td>
</tr>
{END division_id_fieldblock}
	{BEGIN doj_fieldblock}
<tr class="{$fielddispclass_doj}" data-fieldname="doj">
	<td class="rnr-label">
		{$label employees doj}
	</td>
	<td class="rnr-control style3">
		{$doj_value}&nbsp;
	</td>
</tr>
{END doj_fieldblock}
	{BEGIN dor_fieldblock}
<tr class="{$fielddispclass_dor}" data-fieldname="dor">
	<td class="rnr-label">
		{$label employees dor}
	</td>
	<td class="rnr-control style3">
		{$dor_value}&nbsp;
	</td>
</tr>
{END dor_fieldblock}
	{BEGIN status_id_fieldblock}
<tr class="{$fielddispclass_status_id}" data-fieldname="status_id">
	<td class="rnr-label">
		{$label employees status_id}
	</td>
	<td class="rnr-control style3">
		{$status_id_value}&nbsp;
	</td>
</tr>
{END status_id_fieldblock}
	{BEGIN experence_fieldblock}
<tr class="{$fielddispclass_experence}" data-fieldname="experence">
	<td class="rnr-label">
		{$label employees experence}
	</td>
	<td class="rnr-control style3">
		{$experence_value}&nbsp;
	</td>
</tr>
{END experence_fieldblock}
	{BEGIN nationality_fieldblock}
<tr class="{$fielddispclass_nationality}" data-fieldname="nationality">
	<td class="rnr-label">
		{$label employees nationality}
	</td>
	<td class="rnr-control style3">
		{$nationality_value}&nbsp;
	</td>
</tr>
{END nationality_fieldblock}
	{BEGIN qulification_fieldblock}
<tr class="{$fielddispclass_qulification}" data-fieldname="qulification">
	<td class="rnr-label">
		{$label employees qulification}
	</td>
	<td class="rnr-control style3">
		{$qulification_value}&nbsp;
	</td>
</tr>
{END qulification_fieldblock}
	{BEGIN skillset_fieldblock}
<tr class="{$fielddispclass_skillset}" data-fieldname="skillset">
	<td class="rnr-label">
		{$label employees skillset}
	</td>
	<td class="rnr-control style3">
		{$skillset_value}&nbsp;
	</td>
</tr>
{END skillset_fieldblock}
	{BEGIN cid_fieldblock}
<tr class="{$fielddispclass_cid}" data-fieldname="cid">
	<td class="rnr-label">
		{$label employees cid}
	</td>
	<td class="rnr-control style3">
		{$cid_value}&nbsp;
	</td>
</tr>
{END cid_fieldblock}
	{BEGIN reset_token_fieldblock}
<tr class="{$fielddispclass_reset_token}" data-fieldname="reset_token">
	<td class="rnr-label">
		{$label employees reset_token}
	</td>
	<td class="rnr-control style3">
		{$reset_token_value}&nbsp;
	</td>
</tr>
{END reset_token_fieldblock}
	{BEGIN reset_date_fieldblock}
<tr class="{$fielddispclass_reset_date}" data-fieldname="reset_date">
	<td class="rnr-label">
		{$label employees reset_date}
	</td>
	<td class="rnr-control style3">
		{$reset_date_value}&nbsp;
	</td>
</tr>
{END reset_date_fieldblock}
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
{BEGIN edit_page_button}
<a href="#" class="rnr-button" {$edit_page_button_attrs}>Edit</a>
{END edit_page_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_view}

</div>


</div>
{END container_main}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
