<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel employees1 view}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >

	<div class="container">
					{BEGIN eid_fieldblock}
	<div class="{$fielddispclass_eid} col-md-6 bs-viewcontrolgroup" data-fieldname="eid">
		<label class="control-label" for="{$labelfor_eid}">
			{$label employees1 eid}
		</label>
		<div class="" >
			{$eid_value}&nbsp;
		</div>
	</div>
{END eid_fieldblock}
					{BEGIN ename_fieldblock}
	<div class="{$fielddispclass_ename} col-md-6 bs-viewcontrolgroup" data-fieldname="ename">
		<label class="control-label" for="{$labelfor_ename}">
			{$label employees1 ename}
		</label>
		<div class="" >
			{$ename_value}&nbsp;
		</div>
	</div>
{END ename_fieldblock}
					{BEGIN designation_fieldblock}
	<div class="{$fielddispclass_designation} col-md-6 bs-viewcontrolgroup" data-fieldname="designation">
		<label class="control-label" for="{$labelfor_designation}">
			{$label employees1 designation}
		</label>
		<div class="" >
			{$designation_value}&nbsp;
		</div>
	</div>
{END designation_fieldblock}
					{BEGIN whtasapp_fieldblock}
	<div class="{$fielddispclass_whtasapp} col-md-6 bs-viewcontrolgroup" data-fieldname="whtasapp">
		<label class="control-label" for="{$labelfor_whtasapp}">
			{$label employees1 whtasapp}
		</label>
		<div class="" >
			{$whtasapp_value}&nbsp;
		</div>
	</div>
{END whtasapp_fieldblock}
					{BEGIN localnum_fieldblock}
	<div class="{$fielddispclass_localnum} col-md-6 bs-viewcontrolgroup" data-fieldname="localnum">
		<label class="control-label" for="{$labelfor_localnum}">
			{$label employees1 localnum}
		</label>
		<div class="" >
			{$localnum_value}&nbsp;
		</div>
	</div>
{END localnum_fieldblock}
					{BEGIN skype_fieldblock}
	<div class="{$fielddispclass_skype} col-md-6 bs-viewcontrolgroup" data-fieldname="skype">
		<label class="control-label" for="{$labelfor_skype}">
			{$label employees1 skype}
		</label>
		<div class="" >
			{$skype_value}&nbsp;
		</div>
	</div>
{END skype_fieldblock}
					{BEGIN dropbox_fieldblock}
	<div class="{$fielddispclass_dropbox} col-md-6 bs-viewcontrolgroup" data-fieldname="dropbox">
		<label class="control-label" for="{$labelfor_dropbox}">
			{$label employees1 dropbox}
		</label>
		<div class="" >
			{$dropbox_value}&nbsp;
		</div>
	</div>
{END dropbox_fieldblock}
					{BEGIN email_fieldblock}
	<div class="{$fielddispclass_email} col-md-6 bs-viewcontrolgroup" data-fieldname="email">
		<label class="control-label" for="{$labelfor_email}">
			{$label employees1 email}
		</label>
		<div class="" >
			{$email_value}&nbsp;
		</div>
	</div>
{END email_fieldblock}
					{BEGIN dob_fieldblock}
	<div class="{$fielddispclass_dob} col-md-6 bs-viewcontrolgroup" data-fieldname="dob">
		<label class="control-label" for="{$labelfor_dob}">
			{$label employees1 dob}
		</label>
		<div class="" >
			{$dob_value}&nbsp;
		</div>
	</div>
{END dob_fieldblock}
					{BEGIN passportno_fieldblock}
	<div class="{$fielddispclass_passportno} col-md-6 bs-viewcontrolgroup" data-fieldname="passportno">
		<label class="control-label" for="{$labelfor_passportno}">
			{$label employees1 passportno}
		</label>
		<div class="" >
			{$passportno_value}&nbsp;
		</div>
	</div>
{END passportno_fieldblock}
					{BEGIN passport_expiry_fieldblock}
	<div class="{$fielddispclass_passport_expiry} col-md-6 bs-viewcontrolgroup" data-fieldname="passport_expiry">
		<label class="control-label" for="{$labelfor_passport_expiry}">
			{$label employees1 passport_expiry}
		</label>
		<div class="" >
			{$passport_expiry_value}&nbsp;
		</div>
	</div>
{END passport_expiry_fieldblock}
					{BEGIN visa_no_fieldblock}
	<div class="{$fielddispclass_visa_no} col-md-6 bs-viewcontrolgroup" data-fieldname="visa_no">
		<label class="control-label" for="{$labelfor_visa_no}">
			{$label employees1 visa_no}
		</label>
		<div class="" >
			{$visa_no_value}&nbsp;
		</div>
	</div>
{END visa_no_fieldblock}
					{BEGIN visa_expiry_fieldblock}
	<div class="{$fielddispclass_visa_expiry} col-md-6 bs-viewcontrolgroup" data-fieldname="visa_expiry">
		<label class="control-label" for="{$labelfor_visa_expiry}">
			{$label employees1 visa_expiry}
		</label>
		<div class="" >
			{$visa_expiry_value}&nbsp;
		</div>
	</div>
{END visa_expiry_fieldblock}
					{BEGIN division_id_fieldblock}
	<div class="{$fielddispclass_division_id} col-md-6 bs-viewcontrolgroup" data-fieldname="division_id">
		<label class="control-label" for="{$labelfor_division_id}">
			{$label employees1 division_id}
		</label>
		<div class="" >
			{$division_id_value}&nbsp;
		</div>
	</div>
{END division_id_fieldblock}
					{BEGIN doj_fieldblock}
	<div class="{$fielddispclass_doj} col-md-6 bs-viewcontrolgroup" data-fieldname="doj">
		<label class="control-label" for="{$labelfor_doj}">
			{$label employees1 doj}
		</label>
		<div class="" >
			{$doj_value}&nbsp;
		</div>
	</div>
{END doj_fieldblock}
					{BEGIN dor_fieldblock}
	<div class="{$fielddispclass_dor} col-md-6 bs-viewcontrolgroup" data-fieldname="dor">
		<label class="control-label" for="{$labelfor_dor}">
			{$label employees1 dor}
		</label>
		<div class="" >
			{$dor_value}&nbsp;
		</div>
	</div>
{END dor_fieldblock}
					{BEGIN status_id_fieldblock}
	<div class="{$fielddispclass_status_id} col-md-6 bs-viewcontrolgroup" data-fieldname="status_id">
		<label class="control-label" for="{$labelfor_status_id}">
			{$label employees1 status_id}
		</label>
		<div class="" >
			{$status_id_value}&nbsp;
		</div>
	</div>
{END status_id_fieldblock}
					{BEGIN emppic_fieldblock}
	<div class="{$fielddispclass_emppic} col-md-6 bs-viewcontrolgroup" data-fieldname="emppic">
		<label class="control-label" for="{$labelfor_emppic}">
			{$label employees1 emppic}
		</label>
		<div class="" >
			{$emppic_value}&nbsp;
		</div>
	</div>
{END emppic_fieldblock}
					{BEGIN experence_fieldblock}
	<div class="{$fielddispclass_experence} col-md-6 bs-viewcontrolgroup" data-fieldname="experence">
		<label class="control-label" for="{$labelfor_experence}">
			{$label employees1 experence}
		</label>
		<div class="" >
			{$experence_value}&nbsp;
		</div>
	</div>
{END experence_fieldblock}
					{BEGIN nationality_fieldblock}
	<div class="{$fielddispclass_nationality} col-md-6 bs-viewcontrolgroup" data-fieldname="nationality">
		<label class="control-label" for="{$labelfor_nationality}">
			{$label employees1 nationality}
		</label>
		<div class="" >
			{$nationality_value}&nbsp;
		</div>
	</div>
{END nationality_fieldblock}
					{BEGIN qulification_fieldblock}
	<div class="{$fielddispclass_qulification} col-md-6 bs-viewcontrolgroup" data-fieldname="qulification">
		<label class="control-label" for="{$labelfor_qulification}">
			{$label employees1 qulification}
		</label>
		<div class="" >
			{$qulification_value}&nbsp;
		</div>
	</div>
{END qulification_fieldblock}
					{BEGIN skillset_fieldblock}
	<div class="{$fielddispclass_skillset} col-md-6 bs-viewcontrolgroup" data-fieldname="skillset">
		<label class="control-label" for="{$labelfor_skillset}">
			{$label employees1 skillset}
		</label>
		<div class="" >
			{$skillset_value}&nbsp;
		</div>
	</div>
{END skillset_fieldblock}
					{BEGIN cid_fieldblock}
	<div class="{$fielddispclass_cid} col-md-6 bs-viewcontrolgroup" data-fieldname="cid">
		<label class="control-label" for="{$labelfor_cid}">
			{$label employees1 cid}
		</label>
		<div class="" >
			{$cid_value}&nbsp;
		</div>
	</div>
{END cid_fieldblock}
	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-6 "> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>Close window</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="   col-md-4 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>Edit</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
