<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}



{BEGIN container_master}
<div class="rnr-c rnr-ch rnr-c-master">

{BEGIN mastertable_block}
<div  class="style1 rnr-bl rnr-b-masterinfoprint {$brickclass_masterinfoprint}">{$showmasterfile}
</div>
{END mastertable_block}

<div class="rnr-hfiller"></div>
</div>
{END container_master}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">


<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel employees print}</h1>
</div>


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN eid_fieldheadercolumn}
<th class="runner-cc {$eid_class}" {$eid_style}>
	{BEGIN eid_fieldheader}
	<b>{$label employees eid}</b>
	{END eid_fieldheader}
</th>
{END eid_fieldheadercolumn}
	{BEGIN ename_fieldheadercolumn}
<th class="runner-cc {$ename_class}" {$ename_style}>
	{BEGIN ename_fieldheader}
	<b>{$label employees ename}</b>
	{END ename_fieldheader}
</th>
{END ename_fieldheadercolumn}
	{BEGIN emppic_fieldheadercolumn}
<th class="runner-cc {$emppic_class}" {$emppic_style}>
	{BEGIN emppic_fieldheader}
	<b>{$label employees emppic}</b>
	{END emppic_fieldheader}
</th>
{END emppic_fieldheadercolumn}
	{BEGIN designation_fieldheadercolumn}
<th class="runner-cc {$designation_class}" {$designation_style}>
	{BEGIN designation_fieldheader}
	<b>{$label employees designation}</b>
	{END designation_fieldheader}
</th>
{END designation_fieldheadercolumn}
	{BEGIN whtasapp_fieldheadercolumn}
<th class="runner-cc {$whtasapp_class}" {$whtasapp_style}>
	{BEGIN whtasapp_fieldheader}
	<b>{$label employees whtasapp}</b>
	{END whtasapp_fieldheader}
</th>
{END whtasapp_fieldheadercolumn}
	{BEGIN localnum_fieldheadercolumn}
<th class="runner-cc {$localnum_class}" {$localnum_style}>
	{BEGIN localnum_fieldheader}
	<b>{$label employees localnum}</b>
	{END localnum_fieldheader}
</th>
{END localnum_fieldheadercolumn}
	{BEGIN skype_fieldheadercolumn}
<th class="runner-cc {$skype_class}" {$skype_style}>
	{BEGIN skype_fieldheader}
	<b>{$label employees skype}</b>
	{END skype_fieldheader}
</th>
{END skype_fieldheadercolumn}
	{BEGIN dropbox_fieldheadercolumn}
<th class="runner-cc {$dropbox_class}" {$dropbox_style}>
	{BEGIN dropbox_fieldheader}
	<b>{$label employees dropbox}</b>
	{END dropbox_fieldheader}
</th>
{END dropbox_fieldheadercolumn}
	{BEGIN email_fieldheadercolumn}
<th class="runner-cc {$email_class}" {$email_style}>
	{BEGIN email_fieldheader}
	<b>{$label employees email}</b>
	{END email_fieldheader}
</th>
{END email_fieldheadercolumn}
	{BEGIN dob_fieldheadercolumn}
<th class="runner-cc {$dob_class}" {$dob_style}>
	{BEGIN dob_fieldheader}
	<b>{$label employees dob}</b>
	{END dob_fieldheader}
</th>
{END dob_fieldheadercolumn}
	{BEGIN password_fieldheadercolumn}
<th class="runner-cc {$password_class}" {$password_style}>
	{BEGIN password_fieldheader}
	<b>{$label employees password}</b>
	{END password_fieldheader}
</th>
{END password_fieldheadercolumn}
	{BEGIN passportno_fieldheadercolumn}
<th class="runner-cc {$passportno_class}" {$passportno_style}>
	{BEGIN passportno_fieldheader}
	<b>{$label employees passportno}</b>
	{END passportno_fieldheader}
</th>
{END passportno_fieldheadercolumn}
	{BEGIN passport_expiry_fieldheadercolumn}
<th class="runner-cc {$passport_expiry_class}" {$passport_expiry_style}>
	{BEGIN passport_expiry_fieldheader}
	<b>{$label employees passport_expiry}</b>
	{END passport_expiry_fieldheader}
</th>
{END passport_expiry_fieldheadercolumn}
	{BEGIN visa_no_fieldheadercolumn}
<th class="runner-cc {$visa_no_class}" {$visa_no_style}>
	{BEGIN visa_no_fieldheader}
	<b>{$label employees visa_no}</b>
	{END visa_no_fieldheader}
</th>
{END visa_no_fieldheadercolumn}
	{BEGIN visa_expiry_fieldheadercolumn}
<th class="runner-cc {$visa_expiry_class}" {$visa_expiry_style}>
	{BEGIN visa_expiry_fieldheader}
	<b>{$label employees visa_expiry}</b>
	{END visa_expiry_fieldheader}
</th>
{END visa_expiry_fieldheadercolumn}
	{BEGIN division_id_fieldheadercolumn}
<th class="runner-cc {$division_id_class}" {$division_id_style}>
	{BEGIN division_id_fieldheader}
	<b>{$label employees division_id}</b>
	{END division_id_fieldheader}
</th>
{END division_id_fieldheadercolumn}
	{BEGIN doj_fieldheadercolumn}
<th class="runner-cc {$doj_class}" {$doj_style}>
	{BEGIN doj_fieldheader}
	<b>{$label employees doj}</b>
	{END doj_fieldheader}
</th>
{END doj_fieldheadercolumn}
	{BEGIN dor_fieldheadercolumn}
<th class="runner-cc {$dor_class}" {$dor_style}>
	{BEGIN dor_fieldheader}
	<b>{$label employees dor}</b>
	{END dor_fieldheader}
</th>
{END dor_fieldheadercolumn}
	{BEGIN status_id_fieldheadercolumn}
<th class="runner-cc {$status_id_class}" {$status_id_style}>
	{BEGIN status_id_fieldheader}
	<b>{$label employees status_id}</b>
	{END status_id_fieldheader}
</th>
{END status_id_fieldheadercolumn}
	{BEGIN experence_fieldheadercolumn}
<th class="runner-cc {$experence_class}" {$experence_style}>
	{BEGIN experence_fieldheader}
	<b>{$label employees experence}</b>
	{END experence_fieldheader}
</th>
{END experence_fieldheadercolumn}
	{BEGIN nationality_fieldheadercolumn}
<th class="runner-cc {$nationality_class}" {$nationality_style}>
	{BEGIN nationality_fieldheader}
	<b>{$label employees nationality}</b>
	{END nationality_fieldheader}
</th>
{END nationality_fieldheadercolumn}
	{BEGIN qulification_fieldheadercolumn}
<th class="runner-cc {$qulification_class}" {$qulification_style}>
	{BEGIN qulification_fieldheader}
	<b>{$label employees qulification}</b>
	{END qulification_fieldheader}
</th>
{END qulification_fieldheadercolumn}
	{BEGIN skillset_fieldheadercolumn}
<th class="runner-cc {$skillset_class}" {$skillset_style}>
	{BEGIN skillset_fieldheader}
	<b>{$label employees skillset}</b>
	{END skillset_fieldheader}
</th>
{END skillset_fieldheadercolumn}
	{BEGIN cid_fieldheadercolumn}
<th class="runner-cc {$cid_class}" {$cid_style}>
	{BEGIN cid_fieldheader}
	<b>{$label employees cid}</b>
	{END cid_fieldheader}
</th>
{END cid_fieldheadercolumn}
	{BEGIN reset_token_fieldheadercolumn}
<th class="runner-cc {$reset_token_class}" {$reset_token_style}>
	{BEGIN reset_token_fieldheader}
	<b>{$label employees reset_token}</b>
	{END reset_token_fieldheader}
</th>
{END reset_token_fieldheadercolumn}
	{BEGIN reset_date_fieldheadercolumn}
<th class="runner-cc {$reset_date_class}" {$reset_date_style}>
	{BEGIN reset_date_fieldheader}
	<b>{$label employees reset_date}</b>
	{END reset_date_fieldheader}
</th>
{END reset_date_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN eid_fieldcolumn}
<td  class="runner-cc {$eid_class}" {$eid_style} {$recordattrs}>
	{$eid_value}
</td>
{END eid_fieldcolumn}
	{BEGIN ename_fieldcolumn}
<td  class="runner-cc {$ename_class}" {$ename_style} {$recordattrs}>
	{$ename_value}
</td>
{END ename_fieldcolumn}
	{BEGIN emppic_fieldcolumn}
<td  class="runner-cc {$emppic_class}" {$emppic_style} {$recordattrs}>
	{$emppic_value}
</td>
{END emppic_fieldcolumn}
	{BEGIN designation_fieldcolumn}
<td  class="runner-cc {$designation_class}" {$designation_style} {$recordattrs}>
	{$designation_value}
</td>
{END designation_fieldcolumn}
	{BEGIN whtasapp_fieldcolumn}
<td  class="runner-cc {$whtasapp_class}" {$whtasapp_style} {$recordattrs}>
	{$whtasapp_value}
</td>
{END whtasapp_fieldcolumn}
	{BEGIN localnum_fieldcolumn}
<td  class="runner-cc {$localnum_class}" {$localnum_style} {$recordattrs}>
	{$localnum_value}
</td>
{END localnum_fieldcolumn}
	{BEGIN skype_fieldcolumn}
<td  class="runner-cc {$skype_class}" {$skype_style} {$recordattrs}>
	{$skype_value}
</td>
{END skype_fieldcolumn}
	{BEGIN dropbox_fieldcolumn}
<td  class="runner-cc {$dropbox_class}" {$dropbox_style} {$recordattrs}>
	{$dropbox_value}
</td>
{END dropbox_fieldcolumn}
	{BEGIN email_fieldcolumn}
<td  class="runner-cc {$email_class}" {$email_style} {$recordattrs}>
	{$email_value}
</td>
{END email_fieldcolumn}
	{BEGIN dob_fieldcolumn}
<td  class="runner-cc {$dob_class}" {$dob_style} {$recordattrs}>
	{$dob_value}
</td>
{END dob_fieldcolumn}
	{BEGIN password_fieldcolumn}
<td  class="runner-cc {$password_class}" {$password_style} {$recordattrs}>
	{$password_value}
</td>
{END password_fieldcolumn}
	{BEGIN passportno_fieldcolumn}
<td  class="runner-cc {$passportno_class}" {$passportno_style} {$recordattrs}>
	{$passportno_value}
</td>
{END passportno_fieldcolumn}
	{BEGIN passport_expiry_fieldcolumn}
<td  class="runner-cc {$passport_expiry_class}" {$passport_expiry_style} {$recordattrs}>
	{$passport_expiry_value}
</td>
{END passport_expiry_fieldcolumn}
	{BEGIN visa_no_fieldcolumn}
<td  class="runner-cc {$visa_no_class}" {$visa_no_style} {$recordattrs}>
	{$visa_no_value}
</td>
{END visa_no_fieldcolumn}
	{BEGIN visa_expiry_fieldcolumn}
<td  class="runner-cc {$visa_expiry_class}" {$visa_expiry_style} {$recordattrs}>
	{$visa_expiry_value}
</td>
{END visa_expiry_fieldcolumn}
	{BEGIN division_id_fieldcolumn}
<td  class="runner-cc {$division_id_class}" {$division_id_style} {$recordattrs}>
	{$division_id_value}
</td>
{END division_id_fieldcolumn}
	{BEGIN doj_fieldcolumn}
<td  class="runner-cc {$doj_class}" {$doj_style} {$recordattrs}>
	{$doj_value}
</td>
{END doj_fieldcolumn}
	{BEGIN dor_fieldcolumn}
<td  class="runner-cc {$dor_class}" {$dor_style} {$recordattrs}>
	{$dor_value}
</td>
{END dor_fieldcolumn}
	{BEGIN status_id_fieldcolumn}
<td  class="runner-cc {$status_id_class}" {$status_id_style} {$recordattrs}>
	{$status_id_value}
</td>
{END status_id_fieldcolumn}
	{BEGIN experence_fieldcolumn}
<td  class="runner-cc {$experence_class}" {$experence_style} {$recordattrs}>
	{$experence_value}
</td>
{END experence_fieldcolumn}
	{BEGIN nationality_fieldcolumn}
<td  class="runner-cc {$nationality_class}" {$nationality_style} {$recordattrs}>
	{$nationality_value}
</td>
{END nationality_fieldcolumn}
	{BEGIN qulification_fieldcolumn}
<td  class="runner-cc {$qulification_class}" {$qulification_style} {$recordattrs}>
	{$qulification_value}
</td>
{END qulification_fieldcolumn}
	{BEGIN skillset_fieldcolumn}
<td  class="runner-cc {$skillset_class}" {$skillset_style} {$recordattrs}>
	{$skillset_value}
</td>
{END skillset_fieldcolumn}
	{BEGIN cid_fieldcolumn}
<td  class="runner-cc {$cid_class}" {$cid_style} {$recordattrs}>
	{$cid_value}
</td>
{END cid_fieldcolumn}
	{BEGIN reset_token_fieldcolumn}
<td  class="runner-cc {$reset_token_class}" {$reset_token_style} {$recordattrs}>
	{$reset_token_value}
</td>
{END reset_token_fieldcolumn}
	{BEGIN reset_date_fieldcolumn}
<td  class="runner-cc {$reset_date_class}" {$reset_date_style} {$recordattrs}>
	{$reset_date_value}
</td>
{END reset_date_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
