<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel employ_info search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN eid_fieldblock}		
	<div class="container {$fielddispclass_eid}" data-fieldname="eid">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_eid}">
				{$label employ_info eid}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_eid}
			</div>
			<div class="col-md-4" >
				{$eid_editcontrol}
			</div>
			<div class="col-md-4" >
				{$eid_editcontrol1}
			</div>
		</div>
	</div>
{END eid_fieldblock}
	{BEGIN ename_fieldblock}		
	<div class="container {$fielddispclass_ename}" data-fieldname="ename">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ename}">
				{$label employ_info ename}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ename}
			</div>
			<div class="col-md-4" >
				{$ename_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ename_editcontrol1}
			</div>
		</div>
	</div>
{END ename_fieldblock}
	{BEGIN designation_fieldblock}		
	<div class="container {$fielddispclass_designation}" data-fieldname="designation">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_designation}">
				{$label employ_info designation}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_designation}
			</div>
			<div class="col-md-4" >
				{$designation_editcontrol}
			</div>
			<div class="col-md-4" >
				{$designation_editcontrol1}
			</div>
		</div>
	</div>
{END designation_fieldblock}
	{BEGIN whtasapp_fieldblock}		
	<div class="container {$fielddispclass_whtasapp}" data-fieldname="whtasapp">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_whtasapp}">
				{$label employ_info whtasapp}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_whtasapp}
			</div>
			<div class="col-md-4" >
				{$whtasapp_editcontrol}
			</div>
			<div class="col-md-4" >
				{$whtasapp_editcontrol1}
			</div>
		</div>
	</div>
{END whtasapp_fieldblock}
	{BEGIN skype_fieldblock}		
	<div class="container {$fielddispclass_skype}" data-fieldname="skype">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_skype}">
				{$label employ_info skype}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_skype}
			</div>
			<div class="col-md-4" >
				{$skype_editcontrol}
			</div>
			<div class="col-md-4" >
				{$skype_editcontrol1}
			</div>
		</div>
	</div>
{END skype_fieldblock}
	{BEGIN dropbox_fieldblock}		
	<div class="container {$fielddispclass_dropbox}" data-fieldname="dropbox">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_dropbox}">
				{$label employ_info dropbox}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_dropbox}
			</div>
			<div class="col-md-4" >
				{$dropbox_editcontrol}
			</div>
			<div class="col-md-4" >
				{$dropbox_editcontrol1}
			</div>
		</div>
	</div>
{END dropbox_fieldblock}
	{BEGIN email_fieldblock}		
	<div class="container {$fielddispclass_email}" data-fieldname="email">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_email}">
				{$label employ_info email}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_email}
			</div>
			<div class="col-md-4" >
				{$email_editcontrol}
			</div>
			<div class="col-md-4" >
				{$email_editcontrol1}
			</div>
		</div>
	</div>
{END email_fieldblock}
	{BEGIN dob_fieldblock}		
	<div class="container {$fielddispclass_dob}" data-fieldname="dob">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_dob}">
				{$label employ_info dob}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_dob}
			</div>
			<div class="col-md-4" >
				{$dob_editcontrol}
			</div>
			<div class="col-md-4" >
				{$dob_editcontrol1}
			</div>
		</div>
	</div>
{END dob_fieldblock}
	{BEGIN password_fieldblock}		
	<div class="container {$fielddispclass_password}" data-fieldname="password">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_password}">
				{$label employ_info password}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_password}
			</div>
			<div class="col-md-4" >
				{$password_editcontrol}
			</div>
			<div class="col-md-4" >
				{$password_editcontrol1}
			</div>
		</div>
	</div>
{END password_fieldblock}
	{BEGIN passportno_fieldblock}		
	<div class="container {$fielddispclass_passportno}" data-fieldname="passportno">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_passportno}">
				{$label employ_info passportno}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_passportno}
			</div>
			<div class="col-md-4" >
				{$passportno_editcontrol}
			</div>
			<div class="col-md-4" >
				{$passportno_editcontrol1}
			</div>
		</div>
	</div>
{END passportno_fieldblock}
	{BEGIN passport_expiry_fieldblock}		
	<div class="container {$fielddispclass_passport_expiry}" data-fieldname="passport_expiry">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_passport_expiry}">
				{$label employ_info passport_expiry}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_passport_expiry}
			</div>
			<div class="col-md-4" >
				{$passport_expiry_editcontrol}
			</div>
			<div class="col-md-4" >
				{$passport_expiry_editcontrol1}
			</div>
		</div>
	</div>
{END passport_expiry_fieldblock}
	{BEGIN visa_no_fieldblock}		
	<div class="container {$fielddispclass_visa_no}" data-fieldname="visa_no">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_visa_no}">
				{$label employ_info visa_no}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_visa_no}
			</div>
			<div class="col-md-4" >
				{$visa_no_editcontrol}
			</div>
			<div class="col-md-4" >
				{$visa_no_editcontrol1}
			</div>
		</div>
	</div>
{END visa_no_fieldblock}
	{BEGIN visa_expiry_fieldblock}		
	<div class="container {$fielddispclass_visa_expiry}" data-fieldname="visa_expiry">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_visa_expiry}">
				{$label employ_info visa_expiry}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_visa_expiry}
			</div>
			<div class="col-md-4" >
				{$visa_expiry_editcontrol}
			</div>
			<div class="col-md-4" >
				{$visa_expiry_editcontrol1}
			</div>
		</div>
	</div>
{END visa_expiry_fieldblock}
	{BEGIN division_id_fieldblock}		
	<div class="container {$fielddispclass_division_id}" data-fieldname="division_id">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_division_id}">
				{$label employ_info division_id}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_division_id}
			</div>
			<div class="col-md-4" >
				{$division_id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$division_id_editcontrol1}
			</div>
		</div>
	</div>
{END division_id_fieldblock}
	{BEGIN doj_fieldblock}		
	<div class="container {$fielddispclass_doj}" data-fieldname="doj">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_doj}">
				{$label employ_info doj}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_doj}
			</div>
			<div class="col-md-4" >
				{$doj_editcontrol}
			</div>
			<div class="col-md-4" >
				{$doj_editcontrol1}
			</div>
		</div>
	</div>
{END doj_fieldblock}
	{BEGIN dor_fieldblock}		
	<div class="container {$fielddispclass_dor}" data-fieldname="dor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_dor}">
				{$label employ_info dor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_dor}
			</div>
			<div class="col-md-4" >
				{$dor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$dor_editcontrol1}
			</div>
		</div>
	</div>
{END dor_fieldblock}
	{BEGIN status_id_fieldblock}		
	<div class="container {$fielddispclass_status_id}" data-fieldname="status_id">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_status_id}">
				{$label employ_info status_id}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_status_id}
			</div>
			<div class="col-md-4" >
				{$status_id_editcontrol}
			</div>
			<div class="col-md-4" >
				{$status_id_editcontrol1}
			</div>
		</div>
	</div>
{END status_id_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
