<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel employees masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$eid_class}">{$label employees eid}</th>
			<th class="{$ename_class}">{$label employees ename}</th>
			<th class="{$emppic_class}">{$label employees emppic}</th>
			<th class="{$designation_class}">{$label employees designation}</th>
			<th class="{$whtasapp_class}">{$label employees whtasapp}</th>
			<th class="{$localnum_class}">{$label employees localnum}</th>
			<th class="{$skype_class}">{$label employees skype}</th>
			<th class="{$dropbox_class}">{$label employees dropbox}</th>
			<th class="{$email_class}">{$label employees email}</th>
			<th class="{$dob_class}">{$label employees dob}</th>
			<th class="{$password_class}">{$label employees password}</th>
			<th class="{$passportno_class}">{$label employees passportno}</th>
			<th class="{$passport_expiry_class}">{$label employees passport_expiry}</th>
			<th class="{$visa_no_class}">{$label employees visa_no}</th>
			<th class="{$visa_expiry_class}">{$label employees visa_expiry}</th>
			<th class="{$division_id_class}">{$label employees division_id}</th>
			<th class="{$doj_class}">{$label employees doj}</th>
			<th class="{$dor_class}">{$label employees dor}</th>
			<th class="{$status_id_class}">{$label employees status_id}</th>
			<th class="{$experence_class}">{$label employees experence}</th>
			<th class="{$nationality_class}">{$label employees nationality}</th>
			<th class="{$qulification_class}">{$label employees qulification}</th>
			<th class="{$skillset_class}">{$label employees skillset}</th>
			<th class="{$cid_class}">{$label employees cid}</th>
			<th class="{$reset_token_class}">{$label employees reset_token}</th>
			<th class="{$reset_date_class}">{$label employees reset_date}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$eid_class}">{$eid_mastervalue}</td>
			<td class="{$ename_class}">{$ename_mastervalue}</td>
			<td class="{$emppic_class}">{$emppic_mastervalue}</td>
			<td class="{$designation_class}">{$designation_mastervalue}</td>
			<td class="{$whtasapp_class}">{$whtasapp_mastervalue}</td>
			<td class="{$localnum_class}">{$localnum_mastervalue}</td>
			<td class="{$skype_class}">{$skype_mastervalue}</td>
			<td class="{$dropbox_class}">{$dropbox_mastervalue}</td>
			<td class="{$email_class}">{$email_mastervalue}</td>
			<td class="{$dob_class}">{$dob_mastervalue}</td>
			<td class="{$password_class}">{$password_mastervalue}</td>
			<td class="{$passportno_class}">{$passportno_mastervalue}</td>
			<td class="{$passport_expiry_class}">{$passport_expiry_mastervalue}</td>
			<td class="{$visa_no_class}">{$visa_no_mastervalue}</td>
			<td class="{$visa_expiry_class}">{$visa_expiry_mastervalue}</td>
			<td class="{$division_id_class}">{$division_id_mastervalue}</td>
			<td class="{$doj_class}">{$doj_mastervalue}</td>
			<td class="{$dor_class}">{$dor_mastervalue}</td>
			<td class="{$status_id_class}">{$status_id_mastervalue}</td>
			<td class="{$experence_class}">{$experence_mastervalue}</td>
			<td class="{$nationality_class}">{$nationality_mastervalue}</td>
			<td class="{$qulification_class}">{$qulification_mastervalue}</td>
			<td class="{$skillset_class}">{$skillset_mastervalue}</td>
			<td class="{$cid_class}">{$cid_mastervalue}</td>
			<td class="{$reset_token_class}">{$reset_token_mastervalue}</td>
			<td class="{$reset_date_class}">{$reset_date_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>