<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel full_batch_details print}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END printheader}


{BEGIN page_number}
<span>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN track_fieldheadercolumn}
			<th class="{$track_class}" {$track_style}  data-field="track">
				{$label full_batch_details track}
			</th>
			{END track_fieldheadercolumn}
			{BEGIN Batchcode_fieldheadercolumn}
			<th class="{$Batchcode_class}" {$Batchcode_style}  data-field="Batchcode">
				{$label full_batch_details Batchcode}
			</th>
			{END Batchcode_fieldheadercolumn}
			{BEGIN fbgroup_fieldheadercolumn}
			<th class="{$fbgroup_class}" {$fbgroup_style}  data-field="fbgroup">
				{$label full_batch_details fbgroup}
			</th>
			{END fbgroup_fieldheadercolumn}
			{BEGIN university_id_fieldheadercolumn}
			<th class="{$university_id_class}" {$university_id_style}  data-field="university_id">
				{$label full_batch_details university_id}
			</th>
			{END university_id_fieldheadercolumn}
			{BEGIN division_id_fieldheadercolumn}
			<th class="{$division_id_class}" {$division_id_style}  data-field="division_id">
				{$label full_batch_details division_id}
			</th>
			{END division_id_fieldheadercolumn}
			{BEGIN department_id_fieldheadercolumn}
			<th class="{$department_id_class}" {$department_id_style}  data-field="department_id">
				{$label full_batch_details department_id}
			</th>
			{END department_id_fieldheadercolumn}
			{BEGIN uni_spoc_name_fieldheadercolumn}
			<th class="{$uni_spoc_name_class}" {$uni_spoc_name_style}  data-field="uni_spoc_name">
				{$label full_batch_details uni_spoc_name}
			</th>
			{END uni_spoc_name_fieldheadercolumn}
			{BEGIN uni_spoc_contact_fieldheadercolumn}
			<th class="{$uni_spoc_contact_class}" {$uni_spoc_contact_style}  data-field="uni_spoc_contact">
				{$label full_batch_details uni_spoc_contact}
			</th>
			{END uni_spoc_contact_fieldheadercolumn}
			{BEGIN ey_spoc_fieldheadercolumn}
			<th class="{$ey_spoc_class}" {$ey_spoc_style}  data-field="ey_spoc">
				{$label full_batch_details ey_spoc}
			</th>
			{END ey_spoc_fieldheadercolumn}
			{BEGIN local_spoc_fieldheadercolumn}
			<th class="{$local_spoc_class}" {$local_spoc_style}  data-field="local_spoc">
				{$label full_batch_details local_spoc}
			</th>
			{END local_spoc_fieldheadercolumn}
			{BEGIN cid_fieldheadercolumn}
			<th class="{$cid_class}" {$cid_style}  data-field="cid">
				{$label full_batch_details cid}
			</th>
			{END cid_fieldheadercolumn}
			{BEGIN schedule_fieldheadercolumn}
			<th class="{$schedule_class}" {$schedule_style}  data-field="schedule">
				{$label full_batch_details schedule}
			</th>
			{END schedule_fieldheadercolumn}
			{BEGIN tech_trainer_fieldheadercolumn}
			<th class="{$tech_trainer_class}" {$tech_trainer_style}  data-field="tech_trainer">
				{$label full_batch_details tech_trainer}
			</th>
			{END tech_trainer_fieldheadercolumn}
			{BEGIN soft_skill_trainer_fieldheadercolumn}
			<th class="{$soft_skill_trainer_class}" {$soft_skill_trainer_style}  data-field="soft_skill_trainer">
				{$label full_batch_details soft_skill_trainer}
			</th>
			{END soft_skill_trainer_fieldheadercolumn}
			{BEGIN sdate_fieldheadercolumn}
			<th class="{$sdate_class}" {$sdate_style}  data-field="sdate">
				{$label full_batch_details sdate}
			</th>
			{END sdate_fieldheadercolumn}
			{BEGIN stime_fieldheadercolumn}
			<th class="{$stime_class}" {$stime_style}  data-field="stime">
				{$label full_batch_details stime}
			</th>
			{END stime_fieldheadercolumn}
			{BEGIN etime_fieldheadercolumn}
			<th class="{$etime_class}" {$etime_style}  data-field="etime">
				{$label full_batch_details etime}
			</th>
			{END etime_fieldheadercolumn}
			{BEGIN status_fieldheadercolumn}
			<th class="{$status_class}" {$status_style}  data-field="status">
				{$label full_batch_details status}
			</th>
			{END status_fieldheadercolumn}
			{BEGIN remark_fieldheadercolumn}
			<th class="{$remark_class}" {$remark_style}  data-field="remark">
				{$label full_batch_details remark}
			</th>
			{END remark_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN track_fieldcolumn}
			<td  class="{$track_class}" {$track_style} {$recordattrs}>
				{$track_value}
			</td>
			{END track_fieldcolumn}
			{BEGIN Batchcode_fieldcolumn}
			<td  class="{$Batchcode_class}" {$Batchcode_style} {$recordattrs}>
				{$Batchcode_value}
			</td>
			{END Batchcode_fieldcolumn}
			{BEGIN fbgroup_fieldcolumn}
			<td  class="{$fbgroup_class}" {$fbgroup_style} {$recordattrs}>
				{$fbgroup_value}
			</td>
			{END fbgroup_fieldcolumn}
			{BEGIN university_id_fieldcolumn}
			<td  class="{$university_id_class}" {$university_id_style} {$recordattrs}>
				{$university_id_value}
			</td>
			{END university_id_fieldcolumn}
			{BEGIN division_id_fieldcolumn}
			<td  class="{$division_id_class}" {$division_id_style} {$recordattrs}>
				{$division_id_value}
			</td>
			{END division_id_fieldcolumn}
			{BEGIN department_id_fieldcolumn}
			<td  class="{$department_id_class}" {$department_id_style} {$recordattrs}>
				{$department_id_value}
			</td>
			{END department_id_fieldcolumn}
			{BEGIN uni_spoc_name_fieldcolumn}
			<td  class="{$uni_spoc_name_class}" {$uni_spoc_name_style} {$recordattrs}>
				{$uni_spoc_name_value}
			</td>
			{END uni_spoc_name_fieldcolumn}
			{BEGIN uni_spoc_contact_fieldcolumn}
			<td  class="{$uni_spoc_contact_class}" {$uni_spoc_contact_style} {$recordattrs}>
				{$uni_spoc_contact_value}
			</td>
			{END uni_spoc_contact_fieldcolumn}
			{BEGIN ey_spoc_fieldcolumn}
			<td  class="{$ey_spoc_class}" {$ey_spoc_style} {$recordattrs}>
				{$ey_spoc_value}
			</td>
			{END ey_spoc_fieldcolumn}
			{BEGIN local_spoc_fieldcolumn}
			<td  class="{$local_spoc_class}" {$local_spoc_style} {$recordattrs}>
				{$local_spoc_value}
			</td>
			{END local_spoc_fieldcolumn}
			{BEGIN cid_fieldcolumn}
			<td  class="{$cid_class}" {$cid_style} {$recordattrs}>
				{$cid_value}
			</td>
			{END cid_fieldcolumn}
			{BEGIN schedule_fieldcolumn}
			<td  class="{$schedule_class}" {$schedule_style} {$recordattrs}>
				{$schedule_value}
			</td>
			{END schedule_fieldcolumn}
			{BEGIN tech_trainer_fieldcolumn}
			<td  class="{$tech_trainer_class}" {$tech_trainer_style} {$recordattrs}>
				{$tech_trainer_value}
			</td>
			{END tech_trainer_fieldcolumn}
			{BEGIN soft_skill_trainer_fieldcolumn}
			<td  class="{$soft_skill_trainer_class}" {$soft_skill_trainer_style} {$recordattrs}>
				{$soft_skill_trainer_value}
			</td>
			{END soft_skill_trainer_fieldcolumn}
			{BEGIN sdate_fieldcolumn}
			<td  class="{$sdate_class}" {$sdate_style} {$recordattrs}>
				{$sdate_value}
			</td>
			{END sdate_fieldcolumn}
			{BEGIN stime_fieldcolumn}
			<td  class="{$stime_class}" {$stime_style} {$recordattrs}>
				{$stime_value}
			</td>
			{END stime_fieldcolumn}
			{BEGIN etime_fieldcolumn}
			<td  class="{$etime_class}" {$etime_style} {$recordattrs}>
				{$etime_value}
			</td>
			{END etime_fieldcolumn}
			{BEGIN status_fieldcolumn}
			<td  class="{$status_class}" {$status_style} {$recordattrs}>
				{$status_value}
			</td>
			{END status_fieldcolumn}
			{BEGIN remark_fieldcolumn}
			<td  class="{$remark_class}" {$remark_style} {$recordattrs}>
				{$remark_value}
			</td>
			{END remark_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
