<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}




		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">


<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel full_batch_details print}</h1>
</div>


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN track_fieldheadercolumn}
<th class="runner-cc {$track_class}" {$track_style}>
	{BEGIN track_fieldheader}
	<b>{$label full_batch_details track}</b>
	{END track_fieldheader}
</th>
{END track_fieldheadercolumn}
	{BEGIN Batchcode_fieldheadercolumn}
<th class="runner-cc {$Batchcode_class}" {$Batchcode_style}>
	{BEGIN Batchcode_fieldheader}
	<b>{$label full_batch_details Batchcode}</b>
	{END Batchcode_fieldheader}
</th>
{END Batchcode_fieldheadercolumn}
	{BEGIN fbgroup_fieldheadercolumn}
<th class="runner-cc {$fbgroup_class}" {$fbgroup_style}>
	{BEGIN fbgroup_fieldheader}
	<b>{$label full_batch_details fbgroup}</b>
	{END fbgroup_fieldheader}
</th>
{END fbgroup_fieldheadercolumn}
	{BEGIN university_id_fieldheadercolumn}
<th class="runner-cc {$university_id_class}" {$university_id_style}>
	{BEGIN university_id_fieldheader}
	<b>{$label full_batch_details university_id}</b>
	{END university_id_fieldheader}
</th>
{END university_id_fieldheadercolumn}
	{BEGIN division_id_fieldheadercolumn}
<th class="runner-cc {$division_id_class}" {$division_id_style}>
	{BEGIN division_id_fieldheader}
	<b>{$label full_batch_details division_id}</b>
	{END division_id_fieldheader}
</th>
{END division_id_fieldheadercolumn}
	{BEGIN department_id_fieldheadercolumn}
<th class="runner-cc {$department_id_class}" {$department_id_style}>
	{BEGIN department_id_fieldheader}
	<b>{$label full_batch_details department_id}</b>
	{END department_id_fieldheader}
</th>
{END department_id_fieldheadercolumn}
	{BEGIN uni_spoc_name_fieldheadercolumn}
<th class="runner-cc {$uni_spoc_name_class}" {$uni_spoc_name_style}>
	{BEGIN uni_spoc_name_fieldheader}
	<b>{$label full_batch_details uni_spoc_name}</b>
	{END uni_spoc_name_fieldheader}
</th>
{END uni_spoc_name_fieldheadercolumn}
	{BEGIN uni_spoc_contact_fieldheadercolumn}
<th class="runner-cc {$uni_spoc_contact_class}" {$uni_spoc_contact_style}>
	{BEGIN uni_spoc_contact_fieldheader}
	<b>{$label full_batch_details uni_spoc_contact}</b>
	{END uni_spoc_contact_fieldheader}
</th>
{END uni_spoc_contact_fieldheadercolumn}
	{BEGIN ey_spoc_fieldheadercolumn}
<th class="runner-cc {$ey_spoc_class}" {$ey_spoc_style}>
	{BEGIN ey_spoc_fieldheader}
	<b>{$label full_batch_details ey_spoc}</b>
	{END ey_spoc_fieldheader}
</th>
{END ey_spoc_fieldheadercolumn}
	{BEGIN local_spoc_fieldheadercolumn}
<th class="runner-cc {$local_spoc_class}" {$local_spoc_style}>
	{BEGIN local_spoc_fieldheader}
	<b>{$label full_batch_details local_spoc}</b>
	{END local_spoc_fieldheader}
</th>
{END local_spoc_fieldheadercolumn}
	{BEGIN cid_fieldheadercolumn}
<th class="runner-cc {$cid_class}" {$cid_style}>
	{BEGIN cid_fieldheader}
	<b>{$label full_batch_details cid}</b>
	{END cid_fieldheader}
</th>
{END cid_fieldheadercolumn}
	{BEGIN schedule_fieldheadercolumn}
<th class="runner-cc {$schedule_class}" {$schedule_style}>
	{BEGIN schedule_fieldheader}
	<b>{$label full_batch_details schedule}</b>
	{END schedule_fieldheader}
</th>
{END schedule_fieldheadercolumn}
	{BEGIN tech_trainer_fieldheadercolumn}
<th class="runner-cc {$tech_trainer_class}" {$tech_trainer_style}>
	{BEGIN tech_trainer_fieldheader}
	<b>{$label full_batch_details tech_trainer}</b>
	{END tech_trainer_fieldheader}
</th>
{END tech_trainer_fieldheadercolumn}
	{BEGIN soft_skill_trainer_fieldheadercolumn}
<th class="runner-cc {$soft_skill_trainer_class}" {$soft_skill_trainer_style}>
	{BEGIN soft_skill_trainer_fieldheader}
	<b>{$label full_batch_details soft_skill_trainer}</b>
	{END soft_skill_trainer_fieldheader}
</th>
{END soft_skill_trainer_fieldheadercolumn}
	{BEGIN sdate_fieldheadercolumn}
<th class="runner-cc {$sdate_class}" {$sdate_style}>
	{BEGIN sdate_fieldheader}
	<b>{$label full_batch_details sdate}</b>
	{END sdate_fieldheader}
</th>
{END sdate_fieldheadercolumn}
	{BEGIN stime_fieldheadercolumn}
<th class="runner-cc {$stime_class}" {$stime_style}>
	{BEGIN stime_fieldheader}
	<b>{$label full_batch_details stime}</b>
	{END stime_fieldheader}
</th>
{END stime_fieldheadercolumn}
	{BEGIN etime_fieldheadercolumn}
<th class="runner-cc {$etime_class}" {$etime_style}>
	{BEGIN etime_fieldheader}
	<b>{$label full_batch_details etime}</b>
	{END etime_fieldheader}
</th>
{END etime_fieldheadercolumn}
	{BEGIN status_fieldheadercolumn}
<th class="runner-cc {$status_class}" {$status_style}>
	{BEGIN status_fieldheader}
	<b>{$label full_batch_details status}</b>
	{END status_fieldheader}
</th>
{END status_fieldheadercolumn}
	{BEGIN remark_fieldheadercolumn}
<th class="runner-cc {$remark_class}" {$remark_style}>
	{BEGIN remark_fieldheader}
	<b>{$label full_batch_details remark}</b>
	{END remark_fieldheader}
</th>
{END remark_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN track_fieldcolumn}
<td  class="runner-cc {$track_class}" {$track_style} {$recordattrs}>
	{$track_value}
</td>
{END track_fieldcolumn}
	{BEGIN Batchcode_fieldcolumn}
<td  class="runner-cc {$Batchcode_class}" {$Batchcode_style} {$recordattrs}>
	{$Batchcode_value}
</td>
{END Batchcode_fieldcolumn}
	{BEGIN fbgroup_fieldcolumn}
<td  class="runner-cc {$fbgroup_class}" {$fbgroup_style} {$recordattrs}>
	{$fbgroup_value}
</td>
{END fbgroup_fieldcolumn}
	{BEGIN university_id_fieldcolumn}
<td  class="runner-cc {$university_id_class}" {$university_id_style} {$recordattrs}>
	{$university_id_value}
</td>
{END university_id_fieldcolumn}
	{BEGIN division_id_fieldcolumn}
<td  class="runner-cc {$division_id_class}" {$division_id_style} {$recordattrs}>
	{$division_id_value}
</td>
{END division_id_fieldcolumn}
	{BEGIN department_id_fieldcolumn}
<td  class="runner-cc {$department_id_class}" {$department_id_style} {$recordattrs}>
	{$department_id_value}
</td>
{END department_id_fieldcolumn}
	{BEGIN uni_spoc_name_fieldcolumn}
<td  class="runner-cc {$uni_spoc_name_class}" {$uni_spoc_name_style} {$recordattrs}>
	{$uni_spoc_name_value}
</td>
{END uni_spoc_name_fieldcolumn}
	{BEGIN uni_spoc_contact_fieldcolumn}
<td  class="runner-cc {$uni_spoc_contact_class}" {$uni_spoc_contact_style} {$recordattrs}>
	{$uni_spoc_contact_value}
</td>
{END uni_spoc_contact_fieldcolumn}
	{BEGIN ey_spoc_fieldcolumn}
<td  class="runner-cc {$ey_spoc_class}" {$ey_spoc_style} {$recordattrs}>
	{$ey_spoc_value}
</td>
{END ey_spoc_fieldcolumn}
	{BEGIN local_spoc_fieldcolumn}
<td  class="runner-cc {$local_spoc_class}" {$local_spoc_style} {$recordattrs}>
	{$local_spoc_value}
</td>
{END local_spoc_fieldcolumn}
	{BEGIN cid_fieldcolumn}
<td  class="runner-cc {$cid_class}" {$cid_style} {$recordattrs}>
	{$cid_value}
</td>
{END cid_fieldcolumn}
	{BEGIN schedule_fieldcolumn}
<td  class="runner-cc {$schedule_class}" {$schedule_style} {$recordattrs}>
	{$schedule_value}
</td>
{END schedule_fieldcolumn}
	{BEGIN tech_trainer_fieldcolumn}
<td  class="runner-cc {$tech_trainer_class}" {$tech_trainer_style} {$recordattrs}>
	{$tech_trainer_value}
</td>
{END tech_trainer_fieldcolumn}
	{BEGIN soft_skill_trainer_fieldcolumn}
<td  class="runner-cc {$soft_skill_trainer_class}" {$soft_skill_trainer_style} {$recordattrs}>
	{$soft_skill_trainer_value}
</td>
{END soft_skill_trainer_fieldcolumn}
	{BEGIN sdate_fieldcolumn}
<td  class="runner-cc {$sdate_class}" {$sdate_style} {$recordattrs}>
	{$sdate_value}
</td>
{END sdate_fieldcolumn}
	{BEGIN stime_fieldcolumn}
<td  class="runner-cc {$stime_class}" {$stime_style} {$recordattrs}>
	{$stime_value}
</td>
{END stime_fieldcolumn}
	{BEGIN etime_fieldcolumn}
<td  class="runner-cc {$etime_class}" {$etime_style} {$recordattrs}>
	{$etime_value}
</td>
{END etime_fieldcolumn}
	{BEGIN status_fieldcolumn}
<td  class="runner-cc {$status_class}" {$status_style} {$recordattrs}>
	{$status_value}
</td>
{END status_fieldcolumn}
	{BEGIN remark_fieldcolumn}
<td  class="runner-cc {$remark_class}" {$remark_style} {$recordattrs}>
	{$remark_value}
</td>
{END remark_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
