<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_main} rnr-wrapper rnr-cbw-main">

{BEGIN container_main}
<div class="rnr-c rnr-cv rnr-c-main">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel trainer view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-viewfields {$brickclass_viewfields}"><table class="fieldGrid">
	{BEGIN id_fieldblock}
<tr class="{$fielddispclass_id}" data-fieldname="id">
	<td class="rnr-label">
		{$label trainer id}
	</td>
	<td class="rnr-control style3">
		{$id_value}&nbsp;
	</td>
</tr>
{END id_fieldblock}
	{BEGIN date_fieldblock}
<tr class="{$fielddispclass_date}" data-fieldname="date">
	<td class="rnr-label">
		{$label trainer date}
	</td>
	<td class="rnr-control style3">
		{$date_value}&nbsp;
	</td>
</tr>
{END date_fieldblock}
	{BEGIN emailid_fieldblock}
<tr class="{$fielddispclass_emailid}" data-fieldname="emailid">
	<td class="rnr-label">
		{$label trainer emailid}
	</td>
	<td class="rnr-control style3">
		{$emailid_value}&nbsp;
	</td>
</tr>
{END emailid_fieldblock}
	{BEGIN experience_fieldblock}
<tr class="{$fielddispclass_experience}" data-fieldname="experience">
	<td class="rnr-label">
		{$label trainer experience}
	</td>
	<td class="rnr-control style3">
		{$experience_value}&nbsp;
	</td>
</tr>
{END experience_fieldblock}
	{BEGIN mobile_fieldblock}
<tr class="{$fielddispclass_mobile}" data-fieldname="mobile">
	<td class="rnr-label">
		{$label trainer mobile}
	</td>
	<td class="rnr-control style3">
		{$mobile_value}&nbsp;
	</td>
</tr>
{END mobile_fieldblock}
	{BEGIN name_fieldblock}
<tr class="{$fielddispclass_name}" data-fieldname="name">
	<td class="rnr-label">
		{$label trainer name}
	</td>
	<td class="rnr-control style3">
		{$name_value}&nbsp;
	</td>
</tr>
{END name_fieldblock}
	{BEGIN natianality_fieldblock}
<tr class="{$fielddispclass_natianality}" data-fieldname="natianality">
	<td class="rnr-label">
		{$label trainer natianality}
	</td>
	<td class="rnr-control style3">
		{$natianality_value}&nbsp;
	</td>
</tr>
{END natianality_fieldblock}
	{BEGIN password_fieldblock}
<tr class="{$fielddispclass_password}" data-fieldname="password">
	<td class="rnr-label">
		{$label trainer password}
	</td>
	<td class="rnr-control style3">
		{$password_value}&nbsp;
	</td>
</tr>
{END password_fieldblock}
	{BEGIN qualification_fieldblock}
<tr class="{$fielddispclass_qualification}" data-fieldname="qualification">
	<td class="rnr-label">
		{$label trainer qualification}
	</td>
	<td class="rnr-control style3">
		{$qualification_value}&nbsp;
	</td>
</tr>
{END qualification_fieldblock}
	{BEGIN registeredDate_fieldblock}
<tr class="{$fielddispclass_registeredDate}" data-fieldname="registeredDate">
	<td class="rnr-label">
		{$label trainer registeredDate}
	</td>
	<td class="rnr-control style3">
		{$registeredDate_value}&nbsp;
	</td>
</tr>
{END registeredDate_fieldblock}
	{BEGIN skillset_fieldblock}
<tr class="{$fielddispclass_skillset}" data-fieldname="skillset">
	<td class="rnr-label">
		{$label trainer skillset}
	</td>
	<td class="rnr-control style3">
		{$skillset_value}&nbsp;
	</td>
</tr>
{END skillset_fieldblock}
	{BEGIN skype_fieldblock}
<tr class="{$fielddispclass_skype}" data-fieldname="skype">
	<td class="rnr-label">
		{$label trainer skype}
	</td>
	<td class="rnr-control style3">
		{$skype_value}&nbsp;
	</td>
</tr>
{END skype_fieldblock}
	{BEGIN username_fieldblock}
<tr class="{$fielddispclass_username}" data-fieldname="username">
	<td class="rnr-label">
		{$label trainer username}
	</td>
	<td class="rnr-control style3">
		{$username_value}&nbsp;
	</td>
</tr>
{END username_fieldblock}
	{BEGIN usertype_fieldblock}
<tr class="{$fielddispclass_usertype}" data-fieldname="usertype">
	<td class="rnr-label">
		{$label trainer usertype}
	</td>
	<td class="rnr-control style3">
		{$usertype_value}&nbsp;
	</td>
</tr>
{END usertype_fieldblock}
	{BEGIN whatsapp_fieldblock}
<tr class="{$fielddispclass_whatsapp}" data-fieldname="whatsapp">
	<td class="rnr-label">
		{$label trainer whatsapp}
	</td>
	<td class="rnr-control style3">
		{$whatsapp_value}&nbsp;
	</td>
</tr>
{END whatsapp_fieldblock}
	{BEGIN photo_fieldblock}
<tr class="{$fielddispclass_photo}" data-fieldname="photo">
	<td class="rnr-label">
		{$label trainer photo}
	</td>
	<td class="rnr-control style3">
		{$photo_value}&nbsp;
	</td>
</tr>
{END photo_fieldblock}
	{BEGIN cid_fieldblock}
<tr class="{$fielddispclass_cid}" data-fieldname="cid">
	<td class="rnr-label">
		{$label trainer cid}
	</td>
	<td class="rnr-control style3">
		{$cid_value}&nbsp;
	</td>
</tr>
{END cid_fieldblock}
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
{BEGIN edit_page_button}
<a href="#" class="rnr-button" {$edit_page_button_attrs}>Edit</a>
{END edit_page_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_view}

</div>


</div>
{END container_main}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
