<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_search}
<div class="rnr-c rnr-cv rnr-c-search">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel trainer search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_id}">
	{BEGIN id_fieldblock}		
	<td>
		{$label trainer id}
	</td>
	<td>
		<input type="checkbox" {$id_notbox}>
	</td>
	<td>
		{$searchtype_id}
	</td>
	<td>
		{$id_editcontrol}&nbsp;
	</td>
	<td>
		{$id_editcontrol1}&nbsp;
	</td>
{END id_fieldblock}
	</tr>
	<tr class="{$fielddispclass_date}">
	{BEGIN date_fieldblock}		
	<td>
		{$label trainer date}
	</td>
	<td>
		<input type="checkbox" {$date_notbox}>
	</td>
	<td>
		{$searchtype_date}
	</td>
	<td>
		{$date_editcontrol}&nbsp;
	</td>
	<td>
		{$date_editcontrol1}&nbsp;
	</td>
{END date_fieldblock}
	</tr>
	<tr class="{$fielddispclass_emailid}">
	{BEGIN emailid_fieldblock}		
	<td>
		{$label trainer emailid}
	</td>
	<td>
		<input type="checkbox" {$emailid_notbox}>
	</td>
	<td>
		{$searchtype_emailid}
	</td>
	<td>
		{$emailid_editcontrol}&nbsp;
	</td>
	<td>
		{$emailid_editcontrol1}&nbsp;
	</td>
{END emailid_fieldblock}
	</tr>
	<tr class="{$fielddispclass_experience}">
	{BEGIN experience_fieldblock}		
	<td>
		{$label trainer experience}
	</td>
	<td>
		<input type="checkbox" {$experience_notbox}>
	</td>
	<td>
		{$searchtype_experience}
	</td>
	<td>
		{$experience_editcontrol}&nbsp;
	</td>
	<td>
		{$experience_editcontrol1}&nbsp;
	</td>
{END experience_fieldblock}
	</tr>
	<tr class="{$fielddispclass_mobile}">
	{BEGIN mobile_fieldblock}		
	<td>
		{$label trainer mobile}
	</td>
	<td>
		<input type="checkbox" {$mobile_notbox}>
	</td>
	<td>
		{$searchtype_mobile}
	</td>
	<td>
		{$mobile_editcontrol}&nbsp;
	</td>
	<td>
		{$mobile_editcontrol1}&nbsp;
	</td>
{END mobile_fieldblock}
	</tr>
	<tr class="{$fielddispclass_name}">
	{BEGIN name_fieldblock}		
	<td>
		{$label trainer name}
	</td>
	<td>
		<input type="checkbox" {$name_notbox}>
	</td>
	<td>
		{$searchtype_name}
	</td>
	<td>
		{$name_editcontrol}&nbsp;
	</td>
	<td>
		{$name_editcontrol1}&nbsp;
	</td>
{END name_fieldblock}
	</tr>
	<tr class="{$fielddispclass_natianality}">
	{BEGIN natianality_fieldblock}		
	<td>
		{$label trainer natianality}
	</td>
	<td>
		<input type="checkbox" {$natianality_notbox}>
	</td>
	<td>
		{$searchtype_natianality}
	</td>
	<td>
		{$natianality_editcontrol}&nbsp;
	</td>
	<td>
		{$natianality_editcontrol1}&nbsp;
	</td>
{END natianality_fieldblock}
	</tr>
	<tr class="{$fielddispclass_password}">
	{BEGIN password_fieldblock}		
	<td>
		{$label trainer password}
	</td>
	<td>
		<input type="checkbox" {$password_notbox}>
	</td>
	<td>
		{$searchtype_password}
	</td>
	<td>
		{$password_editcontrol}&nbsp;
	</td>
	<td>
		{$password_editcontrol1}&nbsp;
	</td>
{END password_fieldblock}
	</tr>
	<tr class="{$fielddispclass_qualification}">
	{BEGIN qualification_fieldblock}		
	<td>
		{$label trainer qualification}
	</td>
	<td>
		<input type="checkbox" {$qualification_notbox}>
	</td>
	<td>
		{$searchtype_qualification}
	</td>
	<td>
		{$qualification_editcontrol}&nbsp;
	</td>
	<td>
		{$qualification_editcontrol1}&nbsp;
	</td>
{END qualification_fieldblock}
	</tr>
	<tr class="{$fielddispclass_registeredDate}">
	{BEGIN registeredDate_fieldblock}		
	<td>
		{$label trainer registeredDate}
	</td>
	<td>
		<input type="checkbox" {$registeredDate_notbox}>
	</td>
	<td>
		{$searchtype_registeredDate}
	</td>
	<td>
		{$registeredDate_editcontrol}&nbsp;
	</td>
	<td>
		{$registeredDate_editcontrol1}&nbsp;
	</td>
{END registeredDate_fieldblock}
	</tr>
	<tr class="{$fielddispclass_skillset}">
	{BEGIN skillset_fieldblock}		
	<td>
		{$label trainer skillset}
	</td>
	<td>
		<input type="checkbox" {$skillset_notbox}>
	</td>
	<td>
		{$searchtype_skillset}
	</td>
	<td>
		{$skillset_editcontrol}&nbsp;
	</td>
	<td>
		{$skillset_editcontrol1}&nbsp;
	</td>
{END skillset_fieldblock}
	</tr>
	<tr class="{$fielddispclass_skype}">
	{BEGIN skype_fieldblock}		
	<td>
		{$label trainer skype}
	</td>
	<td>
		<input type="checkbox" {$skype_notbox}>
	</td>
	<td>
		{$searchtype_skype}
	</td>
	<td>
		{$skype_editcontrol}&nbsp;
	</td>
	<td>
		{$skype_editcontrol1}&nbsp;
	</td>
{END skype_fieldblock}
	</tr>
	<tr class="{$fielddispclass_username}">
	{BEGIN username_fieldblock}		
	<td>
		{$label trainer username}
	</td>
	<td>
		<input type="checkbox" {$username_notbox}>
	</td>
	<td>
		{$searchtype_username}
	</td>
	<td>
		{$username_editcontrol}&nbsp;
	</td>
	<td>
		{$username_editcontrol1}&nbsp;
	</td>
{END username_fieldblock}
	</tr>
	<tr class="{$fielddispclass_usertype}">
	{BEGIN usertype_fieldblock}		
	<td>
		{$label trainer usertype}
	</td>
	<td>
		<input type="checkbox" {$usertype_notbox}>
	</td>
	<td>
		{$searchtype_usertype}
	</td>
	<td>
		{$usertype_editcontrol}&nbsp;
	</td>
	<td>
		{$usertype_editcontrol1}&nbsp;
	</td>
{END usertype_fieldblock}
	</tr>
	<tr class="{$fielddispclass_whatsapp}">
	{BEGIN whatsapp_fieldblock}		
	<td>
		{$label trainer whatsapp}
	</td>
	<td>
		<input type="checkbox" {$whatsapp_notbox}>
	</td>
	<td>
		{$searchtype_whatsapp}
	</td>
	<td>
		{$whatsapp_editcontrol}&nbsp;
	</td>
	<td>
		{$whatsapp_editcontrol1}&nbsp;
	</td>
{END whatsapp_fieldblock}
	</tr>
	<tr class="{$fielddispclass_photo}">
	{BEGIN photo_fieldblock}		
	<td>
		{$label trainer photo}
	</td>
	<td>
		<input type="checkbox" {$photo_notbox}>
	</td>
	<td>
		{$searchtype_photo}
	</td>
	<td>
		{$photo_editcontrol}&nbsp;
	</td>
	<td>
		{$photo_editcontrol1}&nbsp;
	</td>
{END photo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_cid}">
	{BEGIN cid_fieldblock}		
	<td>
		{$label trainer cid}
	</td>
	<td>
		<input type="checkbox" {$cid_notbox}>
	</td>
	<td>
		{$searchtype_cid}
	</td>
	<td>
		{$cid_editcontrol}&nbsp;
	</td>
	<td>
		{$cid_editcontrol1}&nbsp;
	</td>
{END cid_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_search}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
