<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="date">
	{$date_editcontrol}
	</control>
	<control field="emailid">
	{$emailid_editcontrol}
	</control>
	<control field="experience">
	{$experience_editcontrol}
	</control>
	<control field="mobile">
	{$mobile_editcontrol}
	</control>
	<control field="name">
	{$name_editcontrol}
	</control>
	<control field="natianality">
	{$natianality_editcontrol}
	</control>
	<control field="password">
	{$password_editcontrol}
	</control>
	<control field="qualification">
	{$qualification_editcontrol}
	</control>
	<control field="registeredDate">
	{$registeredDate_editcontrol}
	</control>
	<control field="skillset">
	{$skillset_editcontrol}
	</control>
	<control field="skype">
	{$skype_editcontrol}
	</control>
	<control field="username">
	{$username_editcontrol}
	</control>
	<control field="usertype">
	{$usertype_editcontrol}
	</control>
	<control field="whatsapp">
	{$whatsapp_editcontrol}
	</control>
	<control field="photo">
	{$photo_editcontrol}
	</control>
	<control field="cid">
	{$cid_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>