<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}
<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel trainer add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields {$brickclass_addfields}"><table class="fieldGrid">
	{BEGIN date_fieldblock}
<tr class="{$fielddispclass_date}" data-fieldname="date">
	<td class="rnr-label">
		{BEGIN date_label}{$label trainer date}{END date_label}
	</td>
	<td class="rnr-control style3">
		{$date_editcontrol}&nbsp;
	</td>
</tr>
{END date_fieldblock}
	{BEGIN emailid_fieldblock}
<tr class="{$fielddispclass_emailid}" data-fieldname="emailid">
	<td class="rnr-label">
		{BEGIN emailid_label}{$label trainer emailid}{END emailid_label}
	</td>
	<td class="rnr-control style3">
		{$emailid_editcontrol}&nbsp;
	</td>
</tr>
{END emailid_fieldblock}
	{BEGIN experience_fieldblock}
<tr class="{$fielddispclass_experience}" data-fieldname="experience">
	<td class="rnr-label">
		{BEGIN experience_label}{$label trainer experience}{END experience_label}
	</td>
	<td class="rnr-control style3">
		{$experience_editcontrol}&nbsp;
	</td>
</tr>
{END experience_fieldblock}
	{BEGIN mobile_fieldblock}
<tr class="{$fielddispclass_mobile}" data-fieldname="mobile">
	<td class="rnr-label">
		{BEGIN mobile_label}{$label trainer mobile}{END mobile_label}
	</td>
	<td class="rnr-control style3">
		{$mobile_editcontrol}&nbsp;
	</td>
</tr>
{END mobile_fieldblock}
	{BEGIN name_fieldblock}
<tr class="{$fielddispclass_name}" data-fieldname="name">
	<td class="rnr-label">
		{BEGIN name_label}{$label trainer name}{END name_label}
	</td>
	<td class="rnr-control style3">
		{$name_editcontrol}&nbsp;
	</td>
</tr>
{END name_fieldblock}
	{BEGIN natianality_fieldblock}
<tr class="{$fielddispclass_natianality}" data-fieldname="natianality">
	<td class="rnr-label">
		{BEGIN natianality_label}{$label trainer natianality}{END natianality_label}
	</td>
	<td class="rnr-control style3">
		{$natianality_editcontrol}&nbsp;
	</td>
</tr>
{END natianality_fieldblock}
	{BEGIN password_fieldblock}
<tr class="{$fielddispclass_password}" data-fieldname="password">
	<td class="rnr-label">
		{BEGIN password_label}{$label trainer password}{END password_label}
	</td>
	<td class="rnr-control style3">
		{$password_editcontrol}&nbsp;
	</td>
</tr>
{END password_fieldblock}
	{BEGIN qualification_fieldblock}
<tr class="{$fielddispclass_qualification}" data-fieldname="qualification">
	<td class="rnr-label">
		{BEGIN qualification_label}{$label trainer qualification}{END qualification_label}
	</td>
	<td class="rnr-control style3">
		{$qualification_editcontrol}&nbsp;
	</td>
</tr>
{END qualification_fieldblock}
	{BEGIN registeredDate_fieldblock}
<tr class="{$fielddispclass_registeredDate}" data-fieldname="registeredDate">
	<td class="rnr-label">
		{BEGIN registeredDate_label}{$label trainer registeredDate}{END registeredDate_label}
	</td>
	<td class="rnr-control style3">
		{$registeredDate_editcontrol}&nbsp;
	</td>
</tr>
{END registeredDate_fieldblock}
	{BEGIN skillset_fieldblock}
<tr class="{$fielddispclass_skillset}" data-fieldname="skillset">
	<td class="rnr-label">
		{BEGIN skillset_label}{$label trainer skillset}{END skillset_label}
	</td>
	<td class="rnr-control style3">
		{$skillset_editcontrol}&nbsp;
	</td>
</tr>
{END skillset_fieldblock}
	{BEGIN skype_fieldblock}
<tr class="{$fielddispclass_skype}" data-fieldname="skype">
	<td class="rnr-label">
		{BEGIN skype_label}{$label trainer skype}{END skype_label}
	</td>
	<td class="rnr-control style3">
		{$skype_editcontrol}&nbsp;
	</td>
</tr>
{END skype_fieldblock}
	{BEGIN username_fieldblock}
<tr class="{$fielddispclass_username}" data-fieldname="username">
	<td class="rnr-label">
		{BEGIN username_label}{$label trainer username}{END username_label}
	</td>
	<td class="rnr-control style3">
		{$username_editcontrol}&nbsp;
	</td>
</tr>
{END username_fieldblock}
	{BEGIN usertype_fieldblock}
<tr class="{$fielddispclass_usertype}" data-fieldname="usertype">
	<td class="rnr-label">
		{BEGIN usertype_label}{$label trainer usertype}{END usertype_label}
	</td>
	<td class="rnr-control style3">
		{$usertype_editcontrol}&nbsp;
	</td>
</tr>
{END usertype_fieldblock}
	{BEGIN whatsapp_fieldblock}
<tr class="{$fielddispclass_whatsapp}" data-fieldname="whatsapp">
	<td class="rnr-label">
		{BEGIN whatsapp_label}{$label trainer whatsapp}{END whatsapp_label}
	</td>
	<td class="rnr-control style3">
		{$whatsapp_editcontrol}&nbsp;
	</td>
</tr>
{END whatsapp_fieldblock}
	{BEGIN photo_fieldblock}
<tr class="{$fielddispclass_photo}" data-fieldname="photo">
	<td class="rnr-label">
		{BEGIN photo_label}{$label trainer photo}{END photo_label}
	</td>
	<td class="rnr-control style3">
		{$photo_editcontrol}&nbsp;
	</td>
</tr>
{END photo_fieldblock}
	{BEGIN cid_fieldblock}
<tr class="{$fielddispclass_cid}" data-fieldname="cid">
	<td class="rnr-label">
		{BEGIN cid_label}{$label trainer cid}{END cid_label}
	</td>
	<td class="rnr-control style3">
		{$cid_editcontrol}&nbsp;
	</td>
</tr>
{END cid_fieldblock}
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}">{BEGIN save_button}
<a href="#" class="rnr-button main" id="saveButton{$id}">Save</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" id="resetButton{$id}">Reset</a>
{END reset_button}
{BEGIN cancel_button}
<a href="#" class="rnr-button" id="cancelButton{$id}">Cancel</a>
{END cancel_button}
{BEGIN back_button}
<a href="#" class="rnr-button" id="backButton{$id}">Back to list</a>
{END back_button}
{BEGIN backToMenu_button}
<a href="#" class="rnr-button" id="backToMenuButton{$id}">Back to menu</a>
{END backToMenu_button}</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
