<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}



{BEGIN container_master}
<div class="rnr-c rnr-ch rnr-c-master">

{BEGIN mastertable_block}
<div  class="style1 rnr-bl rnr-b-masterinfoprint {$brickclass_masterinfoprint}">{$showmasterfile}
</div>
{END mastertable_block}

<div class="rnr-hfiller"></div>
</div>
{END container_master}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">


<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel trainer print}</h1>
</div>


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN id_fieldheadercolumn}
<th class="runner-cc {$id_class}" {$id_style}>
	{BEGIN id_fieldheader}
	<b>{$label trainer id}</b>
	{END id_fieldheader}
</th>
{END id_fieldheadercolumn}
	{BEGIN date_fieldheadercolumn}
<th class="runner-cc {$date_class}" {$date_style}>
	{BEGIN date_fieldheader}
	<b>{$label trainer date}</b>
	{END date_fieldheader}
</th>
{END date_fieldheadercolumn}
	{BEGIN emailid_fieldheadercolumn}
<th class="runner-cc {$emailid_class}" {$emailid_style}>
	{BEGIN emailid_fieldheader}
	<b>{$label trainer emailid}</b>
	{END emailid_fieldheader}
</th>
{END emailid_fieldheadercolumn}
	{BEGIN experience_fieldheadercolumn}
<th class="runner-cc {$experience_class}" {$experience_style}>
	{BEGIN experience_fieldheader}
	<b>{$label trainer experience}</b>
	{END experience_fieldheader}
</th>
{END experience_fieldheadercolumn}
	{BEGIN mobile_fieldheadercolumn}
<th class="runner-cc {$mobile_class}" {$mobile_style}>
	{BEGIN mobile_fieldheader}
	<b>{$label trainer mobile}</b>
	{END mobile_fieldheader}
</th>
{END mobile_fieldheadercolumn}
	{BEGIN name_fieldheadercolumn}
<th class="runner-cc {$name_class}" {$name_style}>
	{BEGIN name_fieldheader}
	<b>{$label trainer name}</b>
	{END name_fieldheader}
</th>
{END name_fieldheadercolumn}
	{BEGIN natianality_fieldheadercolumn}
<th class="runner-cc {$natianality_class}" {$natianality_style}>
	{BEGIN natianality_fieldheader}
	<b>{$label trainer natianality}</b>
	{END natianality_fieldheader}
</th>
{END natianality_fieldheadercolumn}
	{BEGIN password_fieldheadercolumn}
<th class="runner-cc {$password_class}" {$password_style}>
	{BEGIN password_fieldheader}
	<b>{$label trainer password}</b>
	{END password_fieldheader}
</th>
{END password_fieldheadercolumn}
	{BEGIN qualification_fieldheadercolumn}
<th class="runner-cc {$qualification_class}" {$qualification_style}>
	{BEGIN qualification_fieldheader}
	<b>{$label trainer qualification}</b>
	{END qualification_fieldheader}
</th>
{END qualification_fieldheadercolumn}
	{BEGIN registeredDate_fieldheadercolumn}
<th class="runner-cc {$registeredDate_class}" {$registeredDate_style}>
	{BEGIN registeredDate_fieldheader}
	<b>{$label trainer registeredDate}</b>
	{END registeredDate_fieldheader}
</th>
{END registeredDate_fieldheadercolumn}
	{BEGIN skillset_fieldheadercolumn}
<th class="runner-cc {$skillset_class}" {$skillset_style}>
	{BEGIN skillset_fieldheader}
	<b>{$label trainer skillset}</b>
	{END skillset_fieldheader}
</th>
{END skillset_fieldheadercolumn}
	{BEGIN skype_fieldheadercolumn}
<th class="runner-cc {$skype_class}" {$skype_style}>
	{BEGIN skype_fieldheader}
	<b>{$label trainer skype}</b>
	{END skype_fieldheader}
</th>
{END skype_fieldheadercolumn}
	{BEGIN username_fieldheadercolumn}
<th class="runner-cc {$username_class}" {$username_style}>
	{BEGIN username_fieldheader}
	<b>{$label trainer username}</b>
	{END username_fieldheader}
</th>
{END username_fieldheadercolumn}
	{BEGIN usertype_fieldheadercolumn}
<th class="runner-cc {$usertype_class}" {$usertype_style}>
	{BEGIN usertype_fieldheader}
	<b>{$label trainer usertype}</b>
	{END usertype_fieldheader}
</th>
{END usertype_fieldheadercolumn}
	{BEGIN whatsapp_fieldheadercolumn}
<th class="runner-cc {$whatsapp_class}" {$whatsapp_style}>
	{BEGIN whatsapp_fieldheader}
	<b>{$label trainer whatsapp}</b>
	{END whatsapp_fieldheader}
</th>
{END whatsapp_fieldheadercolumn}
	{BEGIN photo_fieldheadercolumn}
<th class="runner-cc {$photo_class}" {$photo_style}>
	{BEGIN photo_fieldheader}
	<b>{$label trainer photo}</b>
	{END photo_fieldheader}
</th>
{END photo_fieldheadercolumn}
	{BEGIN cid_fieldheadercolumn}
<th class="runner-cc {$cid_class}" {$cid_style}>
	{BEGIN cid_fieldheader}
	<b>{$label trainer cid}</b>
	{END cid_fieldheader}
</th>
{END cid_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN id_fieldcolumn}
<td  class="runner-cc {$id_class}" {$id_style} {$recordattrs}>
	{$id_value}
</td>
{END id_fieldcolumn}
	{BEGIN date_fieldcolumn}
<td  class="runner-cc {$date_class}" {$date_style} {$recordattrs}>
	{$date_value}
</td>
{END date_fieldcolumn}
	{BEGIN emailid_fieldcolumn}
<td  class="runner-cc {$emailid_class}" {$emailid_style} {$recordattrs}>
	{$emailid_value}
</td>
{END emailid_fieldcolumn}
	{BEGIN experience_fieldcolumn}
<td  class="runner-cc {$experience_class}" {$experience_style} {$recordattrs}>
	{$experience_value}
</td>
{END experience_fieldcolumn}
	{BEGIN mobile_fieldcolumn}
<td  class="runner-cc {$mobile_class}" {$mobile_style} {$recordattrs}>
	{$mobile_value}
</td>
{END mobile_fieldcolumn}
	{BEGIN name_fieldcolumn}
<td  class="runner-cc {$name_class}" {$name_style} {$recordattrs}>
	{$name_value}
</td>
{END name_fieldcolumn}
	{BEGIN natianality_fieldcolumn}
<td  class="runner-cc {$natianality_class}" {$natianality_style} {$recordattrs}>
	{$natianality_value}
</td>
{END natianality_fieldcolumn}
	{BEGIN password_fieldcolumn}
<td  class="runner-cc {$password_class}" {$password_style} {$recordattrs}>
	{$password_value}
</td>
{END password_fieldcolumn}
	{BEGIN qualification_fieldcolumn}
<td  class="runner-cc {$qualification_class}" {$qualification_style} {$recordattrs}>
	{$qualification_value}
</td>
{END qualification_fieldcolumn}
	{BEGIN registeredDate_fieldcolumn}
<td  class="runner-cc {$registeredDate_class}" {$registeredDate_style} {$recordattrs}>
	{$registeredDate_value}
</td>
{END registeredDate_fieldcolumn}
	{BEGIN skillset_fieldcolumn}
<td  class="runner-cc {$skillset_class}" {$skillset_style} {$recordattrs}>
	{$skillset_value}
</td>
{END skillset_fieldcolumn}
	{BEGIN skype_fieldcolumn}
<td  class="runner-cc {$skype_class}" {$skype_style} {$recordattrs}>
	{$skype_value}
</td>
{END skype_fieldcolumn}
	{BEGIN username_fieldcolumn}
<td  class="runner-cc {$username_class}" {$username_style} {$recordattrs}>
	{$username_value}
</td>
{END username_fieldcolumn}
	{BEGIN usertype_fieldcolumn}
<td  class="runner-cc {$usertype_class}" {$usertype_style} {$recordattrs}>
	{$usertype_value}
</td>
{END usertype_fieldcolumn}
	{BEGIN whatsapp_fieldcolumn}
<td  class="runner-cc {$whatsapp_class}" {$whatsapp_style} {$recordattrs}>
	{$whatsapp_value}
</td>
{END whatsapp_fieldcolumn}
	{BEGIN photo_fieldcolumn}
<td  class="runner-cc {$photo_class}" {$photo_style} {$recordattrs}>
	{$photo_value}
</td>
{END photo_fieldcolumn}
	{BEGIN cid_fieldcolumn}
<td  class="runner-cc {$cid_class}" {$cid_style} {$recordattrs}>
	{$cid_value}
</td>
{END cid_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
