<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel university masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$university_id_class}">{$label university university_id}</th>
			<th class="{$University_name_class}">{$label university University_name}</th>
			<th class="{$MOU_date_class}">{$label university MOU_date}</th>
			<th class="{$TUP_class}">{$label university TUP}</th>
			<th class="{$FS_class}">{$label university FS}</th>
			<th class="{$TYPE_class}">{$label university TYPE}</th>
			<th class="{$division_id_class}">{$label university division_id}</th>
			<th class="{$Lat_class}">{$label university Lat}</th>
			<th class="{$Lng_class}">{$label university Lng}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$university_id_class}">{$university_id_mastervalue}</td>
			<td class="{$University_name_class}">{$University_name_mastervalue}</td>
			<td class="{$MOU_date_class}">{$MOU_date_mastervalue}</td>
			<td class="{$TUP_class}">{$TUP_mastervalue}</td>
			<td class="{$FS_class}">{$FS_mastervalue}</td>
			<td class="{$TYPE_class}">{$TYPE_mastervalue}</td>
			<td class="{$division_id_class}">{$division_id_mastervalue}</td>
			<td class="{$Lat_class}">{$Lat_mastervalue}</td>
			<td class="{$Lng_class}">{$Lng_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>