<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}
<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel university add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields {$brickclass_addfields}"><table class="fieldGrid">
	{BEGIN University_name_fieldblock}
<tr class="{$fielddispclass_University_name}" data-fieldname="University_name">
	<td class="rnr-label">
		{BEGIN University_name_label}{$label university University_name}{END University_name_label}
	</td>
	<td class="rnr-control style3">
		{$University_name_editcontrol}&nbsp;
	</td>
</tr>
{END University_name_fieldblock}
	{BEGIN MOU_date_fieldblock}
<tr class="{$fielddispclass_MOU_date}" data-fieldname="MOU_date">
	<td class="rnr-label">
		{BEGIN MOU_date_label}{$label university MOU_date}{END MOU_date_label}
	</td>
	<td class="rnr-control style3">
		{$MOU_date_editcontrol}&nbsp;
	</td>
</tr>
{END MOU_date_fieldblock}
	{BEGIN TUP_fieldblock}
<tr class="{$fielddispclass_TUP}" data-fieldname="TUP">
	<td class="rnr-label">
		{BEGIN TUP_label}{$label university TUP}{END TUP_label}
	</td>
	<td class="rnr-control style3">
		{$TUP_editcontrol}&nbsp;
	</td>
</tr>
{END TUP_fieldblock}
	{BEGIN FS_fieldblock}
<tr class="{$fielddispclass_FS}" data-fieldname="FS">
	<td class="rnr-label">
		{BEGIN FS_label}{$label university FS}{END FS_label}
	</td>
	<td class="rnr-control style3">
		{$FS_editcontrol}&nbsp;
	</td>
</tr>
{END FS_fieldblock}
	{BEGIN TYPE_fieldblock}
<tr class="{$fielddispclass_TYPE}" data-fieldname="TYPE">
	<td class="rnr-label">
		{BEGIN TYPE_label}{$label university TYPE}{END TYPE_label}
	</td>
	<td class="rnr-control style3">
		{$TYPE_editcontrol}&nbsp;
	</td>
</tr>
{END TYPE_fieldblock}
	{BEGIN division_id_fieldblock}
<tr class="{$fielddispclass_division_id}" data-fieldname="division_id">
	<td class="rnr-label">
		{BEGIN division_id_label}{$label university division_id}{END division_id_label}
	</td>
	<td class="rnr-control style3">
		{$division_id_editcontrol}&nbsp;
	</td>
</tr>
{END division_id_fieldblock}
	{BEGIN Lat_fieldblock}
<tr class="{$fielddispclass_Lat}" data-fieldname="Lat">
	<td class="rnr-label">
		{BEGIN Lat_label}{$label university Lat}{END Lat_label}
	</td>
	<td class="rnr-control style3">
		{$Lat_editcontrol}&nbsp;
	</td>
</tr>
{END Lat_fieldblock}
	{BEGIN Lng_fieldblock}
<tr class="{$fielddispclass_Lng}" data-fieldname="Lng">
	<td class="rnr-label">
		{BEGIN Lng_label}{$label university Lng}{END Lng_label}
	</td>
	<td class="rnr-control style3">
		{$Lng_editcontrol}&nbsp;
	</td>
</tr>
{END Lng_fieldblock}
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}">{BEGIN save_button}
<a href="#" class="rnr-button main" id="saveButton{$id}">Save</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" id="resetButton{$id}">Reset</a>
{END reset_button}
{BEGIN cancel_button}
<a href="#" class="rnr-button" id="cancelButton{$id}">Cancel</a>
{END cancel_button}
{BEGIN back_button}
<a href="#" class="rnr-button" id="backButton{$id}">Back to list</a>
{END back_button}
{BEGIN backToMenu_button}
<a href="#" class="rnr-button" id="backToMenuButton{$id}">Back to menu</a>
{END backToMenu_button}</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
