<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="University_name">
	{$University_name_editcontrol}
	</control>
	<control 
	field="MOU_date">
	{$MOU_date_editcontrol}
	</control>
	<control 
	field="TUP">
	{$TUP_editcontrol}
	</control>
	<control 
	field="FS">
	{$FS_editcontrol}
	</control>
	<control 
	field="TYPE">
	{$TYPE_editcontrol}
	</control>
	<control 
	field="division_id">
	{$division_id_editcontrol}
	</control>
	<control 
	field="Lat">
	{$Lat_editcontrol}
	</control>
	<control 
	field="Lng">
	{$Lng_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
