<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-cv rnr-c-dcount">


<div  class="rnr-brickcontents style1 rnr-b-detailspreviewheader {$brickclass_detailspreviewheader}">	<h1>{$pagetitlelabel university detailspreview}</h1>
</div>



<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdetailsfount {$brickclass_detailspreviewdetailsfount}">Details found: <strong>{$row_count}.</strong>
</div>


{BEGIN display_first}
<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdispfirst {$brickclass_detailspreviewdispfirst}">Displaying first: <strong>{$display_count}</strong>.
</div>{END display_first}


</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="rnr-c rnr-cont rnr-c--detailspreviewgrid rnr-b-detailspreviewgrid rnr-gridtable">
{BEGIN details_row_header}
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$university_id_class}">{$label university university_id}</th>
			<th class="{$University_name_class}">{$label university University_name}</th>
			<th class="{$MOU_date_class}">{$label university MOU_date}</th>
			<th class="{$TUP_class}">{$label university TUP}</th>
			<th class="{$FS_class}">{$label university FS}</th>
			<th class="{$TYPE_class}">{$label university TYPE}</th>
			<th class="{$division_id_class}">{$label university division_id}</th>
			<th class="{$Lat_class}">{$label university Lat}</th>
			<th class="{$Lng_class}">{$label university Lng}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr class="rnr-row style1">
			<td class="{$university_id_class}">{$university_id_value}</td>
			<td class="{$University_name_class}">{$University_name_value}</td>
			<td class="{$MOU_date_class}">{$MOU_date_value}</td>
			<td class="{$TUP_class}">{$TUP_value}</td>
			<td class="{$FS_class}">{$FS_value}</td>
			<td class="{$TYPE_class}">{$TYPE_value}</td>
			<td class="{$division_id_class}">{$division_id_value}</td>
			<td class="{$Lat_class}">{$Lat_value}</td>
			<td class="{$Lng_class}">{$Lng_value}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>